<configuration debug="false">
    <!-- application console log -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <target>System.out</target>
        <encoder>
            <pattern>%date %level %logger{20} %msg%n</pattern>
        </encoder>
    </appender>

    <!-- make console log asynchronous -->
    <appender name="ASYNC_STDOUT" class="ch.qos.logback.classic.AsyncAppender">
        <queueSize>128</queueSize>
        <discardingThreshold>0</discardingThreshold>
        <appender-ref ref="STDOUT" />
    </appender>

    <logger name="org.mockserver" level="TRACE"/>
    <logger name="io.netty.handler.ssl.SslHandler" level="WARN"/>

    <root level="${root.logLevel:-WARN}">
        <appender-ref ref="ASYNC_STDOUT"/>
    </root>
</configuration>