<configuration>

    <!-- request log configuration -->
    <appender name="REQUEST_LOG" class="ch.qos.logback.core.FileAppender">
        <file>mockserver_request.log</file>

        <encoder>
            <pattern>%date %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="REQUEST" level="INFO" additivity="false">
        <appender-ref ref="REQUEST_LOG"/>
    </logger>

</configuration>