<p>To analyse the requests that a system makes the proxy can be used to record all requests and their corresponding responses.</p>

<p>All requests and responses can be retrieved as expectations (called recorded expectations) in Java code or JSON.  This allows an easy way to replay a recording from the proxy.</p>
<p>Unlike conventional record-replay approaches typically provided by other proxies, MockServer allows easy editing of the recorded requests because the recording is provided as Java code or JSON.  This ensures that if minor changes are made to an API the recording can easily be modified and no re-recording required avoiding the need to update test assertions.</p>

{% include_subpage ../mock_server/_includes/retrieve_code_example.html %}
