<p>The MockServer Proxy allows the verification of requests by specifying:</p>
<ul>
	<li>an amount of a single type of request</li>
	<li>a sequence of requests that is verified in order</li>
</ul>

<h4>Verifying Repeating Requests</h4>

<p>To verify that a request has been sent use the verify method of the ProxyClient as follows:</p>

<pre><code class="code"><span class="keyword">new</span> ProxyClient(<span class="string_literal">"localhost"</span>, <span class="numeric_literal">1090</span>).verify(
        request()
                .withMethod(<span class="string_literal">"POST"</span>)
                .withPath(<span class="string_literal">"/login"</span>)
                .withBody(exact(<span class="string_literal">"{username: 'foo', password: 'bar'}"</span>))
                .withCookies(
                        <span class="keyword">new</span> Cookie(<span class="string_literal">"sessionId"</span>, <span class="string_literal">".*"</span>)
                ),
        VerificationTimes.exactly(<span class="numeric_literal">1</span>)
);</code></pre>

<p>The <strong>org.mockserver.verify.VerificationTimes</strong> class is used to specify how many times you want MockServer to match a request:</p>

<p>To create an instance of VerificationTimes use one of the static factory methods:</p>

<pre><code class="code">VerificationTimes.once();
VerificationTimes.exactly(<span class="keyword">int</span> count);
VerificationTimes.atLeast(<span class="keyword">int</span> count);</code></pre>

<h3>Verifying Request Sequences</h3>

<p>To verify that the system under test has sent a sequence of requests to MockServer use the verify method of the MockServerClient as follows:</p>

<pre><code class="code"><span class="keyword">new</span> ProxyClient(<span class="string_literal">"localhost"</span>, <span class="numeric_literal">1090</span>).verify(
        request()
                .withMethod(<span class="string_literal">"POST"</span>)
                .withPath(<span class="string_literal">"/login"</span>)
                .withBody(exact(<span class="string_literal">"{username: 'foo', password: 'bar'}"</span>))
                .withCookies(
                        <span class="keyword">new</span> Cookie(<span class="string_literal">"sessionId"</span>, <span class="string_literal">".*"</span>)
                ),
        request()
                .withMethod(<span class="string_literal">"POST"</span>)
                .withPath(<span class="string_literal">"/deposit"</span>)
                .withBody(exact(<span class="string_literal">"{acccount: '123456789', card: '1234 5678 9012 3456', amount: '10.00'}"</span>))
                .withCookies(
                        <span class="keyword">new</span> Cookie(<span class="string_literal">"sessionId"</span>, <span class="string_literal">".*"</span>)
                ),
        request()
                .withMethod(<span class="string_literal">"POST"</span>)
                .withPath(<span class="string_literal">"/logout"</span>)
                .withCookies(
                        <span class="keyword">new</span> Cookie(<span class="string_literal">"sessionId"</span>, <span class="string_literal">".*"</span>)
                )
);</code></pre>

<p>The each request in the sequence will be verified to have been received at least once, in the exact order specified.</p>

<p>The <a href="https://github.com/jamesdbloom/mockserver/tree/master/mockserver-examples">mockserver-example</a> project contains an example test called
	<a href="https://github.com/jamesdbloom/mockserver/blob/master/mockserver-examples/src/test/java/org/mockserver/examples/web/controller/BooksPageIntegrationTest.java">BookPageIntegrationTest</a> that demonstrates a fully working example.</p>