---
title: Response Actions
layout: page
pageOrder: 4.07
section: 'Mock Server'
subsection: false
---

<p>Response actions contain:</p>

<ul>
	<li><strong>status code</strong> i.e. 200, 302, 404, etc</li>
	<li><strong>body</strong> - a UTF-8 encoded sequence of bytes containing any content</li>
	<li><strong>headers</strong> - each with a name and one or more values</li>
	<li><strong>cookies</strong> - each with a name and with one or more values, more complex cookies can be modelled by using the a Set-Cookie header</li>
</ul>

<p>Responses can be further controlled using:</p>

<ul>
	<li>a <strong>delay</strong> before the response is sent</li>
	<li>the <strong>number of times</strong> the response is sent (including unlimited)</li>
	<li>a <strong>time to live</strong> the response will be continued to be returned (including unlimited)</li>
</ul>

<h4>Java</h4>

{% include_subpage creating_expectations_java_response_actions.html %}

<h4>JavaScript</h4>

{% include_subpage creating_expectations_javascript_response_actions.html %}