---
title: Getting Started
layout: page
pageOrder: 1
section: 'Mock Server'
subsection: true
sitemap:
  priority: 0.9
  changefreq: 'monthly'
  lastmod: 2015-04-18T22:40:27+01:00
---

<p style="width: 35%; float: right; margin-right: 5%"><a href="../images/more_detail_available_message.png" target="_blank"><img src="../images/more_detail_available_message.png" alt="Note: this page is a high level overview of each topic, more detail is available for each topic on a linked page." style="float: right; max-width: 100%;"></a></p>

<p>The typical sequence for using MockServer is as follows:</p>

<ol start="0">
	<li><a href="/mock_server/running_mock_server.html">Start MockServer</a></li>
	<li><a href="/mock_server/creating_expectations.html">Setup Expectations</a></li>
	<li>Run Test Scenario</li>
	<li><a href="/mock_server/verification.html">Verify Requests</a></li>
</ol>

<p style="width: 59%; margin-top: 0; padding-top: 0;"><a href="../images/system_under_test_with_mockserver.png" target="_blank"><img src="../images/system_under_test_with_mockserver_cropped.png" alt="Mocking service dependencies with MockServer" style="max-width:100%;"></a></p>

<h2>0. Start MockServer</h2>

<p>MockServer is flexible and support numerous usage patterns.</p>

{% include_subpage _includes/running_mock_server_summary.html %}

<h2>1. Setup Expectations</h2>

<button class="accordion"><strong>Java Code Example</strong></button>
<div class="panel">
    <p><em><strong>Please Note:</strong> There are over 100 more detailed <a href="#expectation_code_examples">code examples</a> in Java, JavaScript and the REST API below.</em></p>

    <pre class="prettyprint lang-java code"><code class="code">new MockServerClient("localhost", 1080)
    .when(
        request()
            .withMethod("POST")
            .withPath("/login")
            .withBody("{username: 'foo', password: 'bar'}")
    )
    .respond(
        response()
            .withStatusCode(302)
            .withCookie(
                "sessionId", "2By8LOhBmaW5nZXJwcmludCIlMDAzMW"
            )
            .withHeader(
                "Location", "https://www.mock-server.com"
            )
    );</code></pre>
</div>

<button class="accordion"><strong>JavaScript Code Example</strong></button>
<div class="panel">
    <p><em><strong>Please Note:</strong> There are over 100 more detailed <a href="#expectation_code_examples">code examples</a> in Java, JavaScript and the REST API below.</em></p>

    <pre class="prettyprint lang-java code"><code class="code">var mockServerClient = require('mockserver-client').mockServerClient;
mockServerClient("localhost", 1080).mockAnyResponse({
    "httpRequest": {
        "method": "POST",
        "path": "/login",
        "body": "{username: 'foo', password: 'bar'}"
    },
    "httpResponse": {
        "statusCode": 302,
        "headers": {
            "Location" : [ "https://www.mock-server.com" ]
        },
        "cookies": {
            "sessionId" : "2By8LOhBmaW5nZXJwcmludCIlMDAzMW"
        }
    }
});</code></pre>
</div>

<p>An expectation contains:</p>
<ul>
    <li><strong><a href="#request_matchers">request matcher</a></strong> - used to match which requests this expectation should be applied to</li>
    <li><strong><a href="#actions">action</a></strong> - what action to take, actions include <strong>response</strong>, <strong>forward</strong>, <strong>callback</strong> and <strong>error</strong></li>
    <li><strong><a href="#button_match_request_by_path_exactly_twice">times</a></strong> - how many times the action should be taken</li>
    <li><strong><a href="#button_match_request_by_path_exactly_once_in_the_next_60_seconds">timeToLive</a></strong> - how long the expectation should stay active</li>
</ul>

<a name="request_matchers" class="anchor" href="#request_matchers">&nbsp;</a>

<h3>Request Matchers</h3>

<p>A <strong>request matcher</strong> can contain any of the following matchers:</p>

<ul>
    <li><strong>method</strong> - string value as a <a href="#button_match_request_by_cookies_and_query_parameters">plain text</a>, regular expression or <a href="#button_match_request_by_not_matching_method">negated matcher</a></li>
    <li><strong>path</strong> - string value as a <a href="#button_match_request_by_path">plain text</a>, <a href="#button_match_request_by_regex_path">regular expression</a> or <a href="#button_match_request_by_not_matching_path">negated matcher</a></li>
    <li><strong>query string</strong> - key to multiple values as a <a href="#button_match_request_by_cookies_and_query_parameters">plain text</a>, regular expression or negated matcher</li>
    <li><strong>headers</strong> - key to multiple values as a <a href="#button_match_request_by_headers">plain text</a>, regular expression or <a href="#button_match_request_by_not_matching_header_value">negated matcher</a></li>
    <li><strong>cookies</strong> - key to value as a <a href="#button_match_request_by_cookies_and_query_parameters">plain text</a>, regular expression or negated matcher</li>
    <li><strong>body</strong>
        <ul>
            <li><strong><a href="#button_match_request_by_body_with_xpath">XPath</a></strong></li>
            <li><strong><a href="#button_match_request_by_body_with_xml">XML</a></strong></li>
            <li><strong><a href="#button_match_request_by_body_with_xml_schema">XML Schema</a></strong></li>
            <li><strong><a href="#button_match_request_by_body_with_json_exactly">JSON</a></strong> - supports two match types <strong>STRICT</strong> and <strong>ONLY_MATCHING_FIELDS</strong>.  <strong>STRICT</strong> match type matches all fields and the order of arrays.  In <strong>STRICT</strong> match type extra fields will cause the matcher to fail. <strong>ONLY_MATCHING_FIELDS</strong> match type only matches fields provided in the request matcher.</li>
            <li><strong><a href="#button_match_request_by_body_with_json_schema">JSON Schema</a></strong></li>
            <li><strong><a href="#button_match_request_by_regex_body">regular expression</a></strong></li>
            <li><strong><a href="#button_match_request_by_body_in_utf16">plain text</a></strong> (i.e. exact match)</li>
            <li><strong><a href="#button_match_request_by_form_submission_body">form fields</a></strong> (i.e. body parameters)</li>
            <li><strong><a href="#button_match_request_by_not_matching_body_with_xpath">negated matcher</a></strong></li>
        </ul>
    <li><strong>secure</strong> - true if the request was made using HTTPS</li>
</ul>

<a name="actions" class="anchor" href="#actions">&nbsp;</a>

<h3>Actions</h3>

<p>Actions can be one of the following types:</p>
<ul>
    <li><strong><a href="#response_action">response</a></strong> - returns a response, either as a response literal, or using a response template (in <a href="#button_javascript_templated_response">javascript</a> or <a href="#button_javascript_velocity_templated_response">velocity</a>)</li>
    <li><strong><a href="#forward_action">forward</a></strong> - forwards requests, either exactly as it receives them, or using a forward template (in <a href="#button_javascript_templated_forward">javascript</a> or <a href="#button_javascript_velocity_templated_forward">velocity</a>)</li>
    <li><strong><a href="#callback_action">callback</a></strong> - executes a local static class or remote closure callback to allow the dynamic creation of the response</li>
    <li><strong><a href="#error_action">error</a></strong> - returns an invalid response as a sequence of bytes or closes the connection</li>
</ul>

<a name="response_action" class="anchor" href="#response_action">&nbsp;</a>

<p>A <strong>response action</strong> can be:</p>

<ul>
    <li>
        <p>either a <a href="#button_response_literal_body_only">response literal</a> containing any of the following:</p>
        <ul>
            <li><strong><a href="#button_response_literal_status_code_only">status code</a></strong></li>
            <li><strong><a href="#button_response_literal_binary_PNG_body">body</a></strong></li>
            <li><strong>headers</strong></li>
            <li><strong>cookies</strong></li>
            <li><strong><a href="#button_response_literal_with_10_second_delay">delay</a></strong></li>
            <li><strong><a href="#button_response_literal_with_connection_options_to_suppress_headers">connectionOptions</a></strong> that can be used to <a href="#button_response_literal_with_connection_options_to_suppress_headers">suppress headers</a>, <a href="#button_response_literal_with_connection_options_to_override_headers">override headers</a> or <a href="#button_response_literal_with_connection_options_to_close_socket">close the socket connection</a></li>
        </ul>
    </li>
    <li>
        <p>or a templated response using <strong><a href="#button_javascript_templated_response">javascript</a></strong> or <strong><a href="#button_javascript_velocity_templated_response">velocity</a></strong> with a <strong><a href="#button_javascript_templated_response_with_delay">delay</a></strong></p>
    </li>
</ul>

<a name="forward_action" class="anchor" href="#forward_action">&nbsp;</a>

<p>A <strong>forward action</strong> can be:</p>

<ul>
    <li>
        <p>either an <a href="#button_forward_exact_request">exact forwarder</a>, that forwards requests exactly as it receives them, containing the following:</p>
        <ul>
            <li><strong>host</strong></li>
            <li><strong>port</strong></li>
            <li><strong><a href="#button_forward_exact_request_in_https">scheme</a></strong></li>
        </ul>
    </li>
    <li>
        <p>or a templated forwarder using <strong><a href="#button_javascript_templated_forward">javascript</a></strong> or <strong><a href="#button_javascript_velocity_templated_forward">velocity</a></strong>, with a <strong><a href="#button_javascript_templated_forward_with_delay">delay</a></strong>, that allows requests to be modified or completely re-written before they are forwarded</p>
    </li>
</ul>

<a name="callback_action" class="anchor" href="#callback_action">&nbsp;</a>

<p>A <strong>callback action</strong> can be:</p>

<p>A callback action defines a class that will be used to dynamically generate the response and contains:</p>

<ul>
    <li><strong>callbackClass</strong></li>
</ul>

<p>The class must define a default constructor and implement <strong>org.mockserver.mock.action.ExpectationCallback</strong>.</p>

<p><strong>callback</strong> - execute either a static class callback or an method / closure callback</p>

static class callback
method / closure callback

<a name="error_action" class="anchor" href="#error_action">&nbsp;</a>

<p>An <strong>error action</strong> can be:</p>

<p><strong>error</strong> - return an invalid response with an optional delay</p>

error
error with delay

<a name="expectation_code_examples" class="anchor" href="#expectation_code_examples">&nbsp;</a>

<h3>Code Examples:</h3>

<p><strong>Request Matchers</strong></p>

{% include_subpage _includes/matcher_code_examples.html %}

<p><strong>Response Actions</strong></p>

{% include_subpage _includes/response_action_code_examples.html %}

<p><strong>Forward Actions</strong></p>

{% include_subpage _includes/forward_action_code_examples.html %}

<p><strong>Callback Actions</strong></p>

{% include_subpage _includes/callback_action_code_examples.html %}

<p><strong>Error Actions</strong></p>

{% include_subpage _includes/error_action_code_examples.html %}

<h2>3. Verify Requests</h2>

{% include_subpage _includes/verification_summary.html %}
