---
title: Getting Started
layout: page
pageOrder: 1
section: 'Mock Server'
subsection: true
sitemap:
  priority: 0.9
  changefreq: 'monthly'
  lastmod: 2015-04-18T22:40:27+01:00
---

<p style="width: 35%; float: right; margin-right: 5%"><a href="../images/more_detail_available_message.png" target="_blank"><img src="../images/more_detail_available_message.png" alt="Note: this page is a high level overview of each topic, more detail is available for each topic on a linked page." style="float: right; max-width: 100%;"></a></p>

<p>The typical sequence for using MockServer is as follows:</p>

<ol start="0">
	<li><a href="/mock_server/running_mock_server.html">Start MockServer</a></li>
	<li><a href="/mock_server/creating_expectations.html">Setup Expectations</a></li>
	<li>Run Test Scenario</li>
	<li><a href="/mock_server/verification.html">Verify Requests</a></li>
</ol>

<p style="width: 59%; margin-top: 0; padding-top: 0;"><a href="../images/system_under_test_with_mockserver.png" target="_blank"><img src="../images/system_under_test_with_mockserver_cropped.png" alt="Mocking service dependencies with MockServer" style="max-width:100%;"></a></p>

<h2>0. Start MockServer</h2>

<p>MockServer is flexible and support numerous usage patterns.</p>

{% include_subpage _includes/running_mock_server_summary.html %}

<h2>1. Setup Expectations</h2>

<p>To mock an HTTP / HTTPS interaction an expectation is setup specifying how a request should be matched and what action MockServer should take when the request has been matched.</p>

<p>When a request is matched there are three actions that can be defined as follows:</p>

<ul>
	<li><strong>respond</strong> - return a "mock" response</li>
	<li><strong>forward</strong> - forward the request</li>
	<li><strong>callback</strong> - execute a callback</li>
</ul>

<a name="java_example" class="anchor" href="#java_example">&nbsp;</a>

<h3>Java Examples</h3>

<p>The following <strong>Java</strong> example shows the creation of an simple expectation with a respond action:</p>

<pre><code class="code"><span class="keyword">new</span> MockServerClient(<span class="string_literal">"localhost"</span>, <span class="numeric_literal">1080</span>)
        .when(
                request()
                        .withMethod(<span class="string_literal">"POST"</span>)
                        .withPath(<span class="string_literal">"/login"</span>)
                        .withBody(<span class="string_literal">"{username: 'foo', password: 'bar'}"</span>)
        )
        .respond(
                response()
                        .withStatusCode(<span class="numeric_literal">302</span>)
                        .withCookie(
                                <span class="string_literal">"sessionId"</span>, <span class="string_literal">"2By8LOhBmaW5nZXJwcmludCIlMDAzMW"</span>
                        )
                        .withHeader(
                                <span class="string_literal">"Location"</span>, <span class="string_literal">"https://www.mock-server.com"</span>
                        )
        );</code></pre>

<p>The following <strong>Java</strong> example shows the creation of a more complex expectation with a respond action:</p>

<pre><code class="code"><span class="keyword">new</span> MockServerClient(<span class="string_literal">"localhost"</span>, <span class="numeric_literal">1080</span>)
        .when(
                request()
                        .withMethod(<span class="string_literal">"POST"</span>)
                        .withPath(<span class="string_literal">"/login"</span>)
                        .withQueryStringParameters(
                                <span class="keyword">new</span> Parameter(<span class="string_literal">"returnUrl"</span>, <span class="string_literal">"/account"</span>),
                                <span class="keyword">new</span> Parameter(<span class="string_literal">"_timestamp"</span>, <span class="string_literal">"1430199066291"</span>)
                        )
                        .withCookie(<span class="string_literal">"sessionId"</span>, <span class="string_literal">"2By8LOhBmaW5nZXJwcmludCIlMDAzMW"</span>)
                        .withBody(json(<span class="string_literal">"{username: 'foo', password: 'bar'}"</span>, MatchType.<span class="constant">STRICT</span>)),
                Times.exactly(<span class="numeric_literal">1</span>),
                TimeToLive.exactly(TimeUnit.<span class="constant">MINUTES</span>, <span class="numeric_literal">5l</span>)
        )
        .respond(
                response()
                        .withStatusCode(<span class="numeric_literal">401</span>)
                        .withHeaders(
                                <span class="keyword">new</span> Header(<span class="string_literal">"Content-Type"</span>, <span class="string_literal">"application/json; charset=utf-8"</span>),
                                <span class="keyword">new</span> Header(<span class="string_literal">"Cache-Control"</span>, <span class="string_literal">"public, max-age=86400"</span>)
                        )
                        .withBody(<span class="string_literal">"{ message: 'incorrect username and password combination' }"</span>)
                        .withDelay(<span class="keyword">new</span> Delay(TimeUnit.<span class="constant">SECONDS</span>, <span class="numeric_literal">1</span>))
        );</code></pre>

<a name="javascript_example" class="anchor" href="#javascript_example">&nbsp;</a>

<h3>JavaScript Examples</h3>

<p>The following <strong>JavaScript</strong> example shows the creation of an simple expectation with a respond action:</p>

<pre><code class="code">mockServerClient(<span class="string_literal">"localhost"</span>, <span class="numeric_literal">1080</span>).mockAnyResponse({
    <span class="string_literal">"httpRequest"</span>: {
        <span class="string_literal">"method"</span>: <span class="string_literal">"POST"</span>,
        <span class="string_literal">"path"</span>: <span class="string_literal">"/login"</span>,
        <span class="string_literal">"body"</span>: "{username: <span class="string_literal">'foo'</span>, password: <span class="string_literal">'bar'</span>}"
    },
    <span class="string_literal">"httpResponse"</span>: {
        <span class="string_literal">"statusCode"</span>: <span class="numeric_literal">302</span>,
        <span class="string_literal">"headers"</span>: [
            {
                <span class="string_literal">"name"</span>: <span class="string_literal">"Location"</span>,
                <span class="string_literal">"values"</span>: <span class="string_literal">"https://www.mock-server.com"</span>
            }
        ],
        <span class="string_literal">"cookies"</span>: [
            {
                <span class="string_literal">"name"</span>: <span class="string_literal">"sessionId"</span>,
                <span class="string_literal">"value"</span>: <span class="string_literal">"2By8LOhBmaW5nZXJwcmludCIlMDAzMW"</span>
            }
        ]
    }
});
</code></pre>

<p>The following <strong>JavaScript</strong> example shows the creation of a more complex expectation with a respond action:</p>

<pre><code class="code">mockServerClient(<span class="string_literal">"localhost"</span>, <span class="numeric_literal">1080</span>).mockAnyResponse({
    <span class="string_literal">"httpRequest"</span>: {
        <span class="string_literal">"method"</span>: <span class="string_literal">"POST"</span>,
        <span class="string_literal">"path"</span>: <span class="string_literal">"/login"</span>,
        <span class="string_literal">"queryStringParameters"</span>: [
            {
                <span class="string_literal">"name"</span>: <span class="string_literal">"returnUrl"</span>,
                <span class="string_literal">"values"</span>: [<span class="string_literal">"/account"</span>]
            },
            {
                <span class="string_literal">"name"</span>: <span class="string_literal">"_timestamp"</span>,
                <span class="string_literal">"values"</span>: [<span class="string_literal">"1430199066291"</span>]
            }
        ],
        <span class="string_literal">"cookies"</span>: [
            {
                <span class="string_literal">"name"</span>: <span class="string_literal">"sessionId"</span>,
                <span class="string_literal">"values"</span>: [<span class="string_literal">"2By8LOhBmaW5nZXJwcmludCIlMDAzMW"</span>]
            }
        ],
        <span class="string_literal">"body"</span>: {
            <span class="string_literal">"type"</span>: <span class="string_literal">"JSON"</span>,
            <span class="string_literal">"value"</span>: JSON.stringify({ username: <span class="string_literal">"foo"</span>, password: <span class="string_literal">"bar"</span> }),
            <span class="string_literal">"matchType"</span>: <span class="string_literal">"STRICT"</span>
        }
    },
    <span class="string_literal">"httpResponse"</span>: {
        <span class="string_literal">"statusCode"</span>: <span class="numeric_literal">401</span>,
        <span class="string_literal">"headers"</span>: [
            {
                <span class="string_literal">"name"</span>: <span class="string_literal">"Content-Type"</span>,
                <span class="string_literal">"values"</span>: [<span class="string_literal">"application/json; charset=utf-8"</span>]
            },
            {
                <span class="string_literal">"name"</span>: <span class="string_literal">"Cache-Control"</span>,
                <span class="string_literal">"values"</span>: [<span class="string_literal">"public, max-age=86400"</span>]
            }
        ],
        <span class="string_literal">"body"</span>: JSON.stringify({ message: <span class="string_literal">"incorrect username and password combination"</span> }),
        <span class="string_literal">"delay"</span>: {
            <span class="string_literal">"timeUnit"</span>: <span class="string_literal">"SECONDS"</span>,
            <span class="string_literal">"value"</span>: <span class="numeric_literal">1</span>
        }
    },
    <span class="string_literal">"times"</span>: {
        <span class="string_literal">"remainingTimes"</span>: <span class="numeric_literal">1</span>,
        <span class="string_literal">"unlimited"</span>: <span class="keyword">false</span>
    },
    <span class="string_literal">"timeToLive"</span>: {
        <span class="string_literal">"timeUnit"</span>: <span class="string_literal">"MINUTES</span>,
        <span class="string_literal">"timeToLive"</span>: <span class="numeric_literal">5</span>,
        <span class="string_literal">"unlimited"</span>: <span class="keyword">false</span>
    }
});
</code></pre>

<h3>Ruby Examples</h3>

<p>The following <strong>Ruby</strong> example shows the creation of an simple expectation with a respond action:</p>

<pre><code class="code">client = MockServerClient.new(<span class="string_literal">'localhost'</span>, <span class="numeric_literal">1080</span>)
expectation = expectation <span class="keyword">do</span> |expectation|
     expectation.request <span class="keyword">do</span> |request|
        request.method = <span class="string_literal">'POST'</span>
        request.path = <span class="string_literal">'/login'</span>
        request.body = exact({ username: <span class="string_literal">'foo'</span>, password: <span class="string_literal">'bar'</span> }.to_json)
     end

    expectation.response <span class="keyword">do</span> |response|
        response.status_code = <span class="numeric_literal">302</span>
        response.headers << header(<span class="string_literal">'Location'</span>, <span class="string_literal">'https://www.mock-server.com'</span>)
    end
end
client.register(expectation)</code></pre>

<p>The following <strong>Ruby</strong> example shows the creation of a more complex expectation with a respond action:</p>

<pre><code class="code">client = MockServerClient.new(<span class="string_literal">'localhost'</span>, <span class="numeric_literal">1080</span>)
expectation = expectation <span class="keyword">do</span> |expectation|
     expectation.request <span class="keyword">do</span> |request|
        request.method = <span class="string_literal">'POST'</span>
        request.path = <span class="string_literal">'/login'</span>
        request.query_string_parameters << parameter(<span class="string_literal">'returnUrl'</span>, <span class="string_literal">'/account'</span>)
        request.query_string_parameters << parameter(<span class="string_literal">'_timestamp'</span>, <span class="string_literal">'1430199066291'</span>)
        request.cookies = [cookie(<span class="string_literal">'sessionId'</span>, <span class="string_literal">'2By8LOhBmaW5nZXJwcmludCIlMDAzMW'</span>)]
        request.body = exact({ username: <span class="string_literal">'foo'</span>, password: <span class="string_literal">'bar'</span> }.to_json)
     end

    expectation.response <span class="keyword">do</span> |response|
        response.status_code = <span class="numeric_literal">401</span>
        response.headers << header(<span class="string_literal">'Content-Type'</span>, <span class="string_literal">'application/json; charset=utf-8'</span>)
        response.headers << header(<span class="string_literal">'Cache-Control'</span>, <span class="string_literal">'public, max-age=86400'</span>)
        response.body  = body({ message: <span class="string_literal">'incorrect username and password combination'</span> }.to_json)
        response.delay = delay_by(<span class="ruby_constant">:SECONDS</span>, <span class="numeric_literal">1</span>)
    end

    expectation.times = exactly(<span class="numeric_literal">1</span>)
end
client.register(expectation)</code></pre>

<h3>Requests can be matched on:</h3>

{% include_subpage _includes/request_matchers_summary.html %}

<p>For more details see the section below on <a href="/mock_server/creating_expectations.html#request_matchers">creating expectations</a>.</p>

<h3>Actions</h3>

<p>When a request is matched there are three actions that can occur as follows:</p>

<ul>
	<li><strong>respond</strong> - return a "mock" response</li>
	<li><strong>forward</strong> - forward the request</li>
	<li><strong>callback</strong> - execute a callback</li>
</ul>

<h4><em>Respond Actions</em></h4>

<p>A response action defines a mock response containing:</p>

<ul>
	<li><strong>status code</strong></li>
	<li><strong>body</strong></li>
	<li><strong>headers</strong></li>
	<li><strong>cookies</strong></li>
</ul>

<p>Responses can be further controlled using:</p>

<ul>
	<li>a <strong>delay</strong> before the response is sent</li>
	<li>the <strong>number of times</strong> the response is sent (including unlimited)</li>
</ul>

<p>For more details see the section below on <a href="/mock_server/creating_expectations.html#mock_response">creating expectations</a>.</p>

<h4><em>Forward Actions</em></h4>

<p>A forward action defines how a request should be forwarded and contains:</p>

<ul>
	<li><strong>host</strong></li>
	<li><strong>port</strong></li>
	<li><strong>scheme</strong></li>
</ul>

<p>Only the host is mandatory as the port is defaulted to 80 and the scheme is defaulted to HTTP.</p>

<p>For more details see the section below on <a href="/mock_server/creating_expectations.html#mock_forward">creating expectations</a>.</p>

<h4><em>Callback Actions</em></h4>

<p>A callback action defines a class that will be used to dynamically generate the response and contains:</p>

<ul>
	<li><strong>callbackClass</strong></li>
</ul>

<p>The class must define a default constructor and implement <strong>org.mockserver.mock.action.ExpectationCallback</strong>.</p>

<p>For more details see the section below on <a href="/mock_server/creating_expectations.html#callback">creating expectations</a>.</p>

<h2>3. Verify Requests</h2>

{% include_subpage _includes/verification_summary.html %}