body {
    color: #000;
    min-width: 345px;
}

/*
This is the parent `<div>` that contains the menu and the content area.
*/
#layout {
    padding-left: 200px; /* left col width "#menu" */
    left: 0;
}

/*
The content `<div>` is where all your content goes.
*/
.content {
    margin: 0 auto;
    padding: 0 2em;
    max-width: 1500px;
    line-height: 1.6em;
}

.header {
    margin: 0;
    color: #333;
    text-align: center;
    padding: 2.5em 2em 0;
    border-bottom: 1px solid #eee;
}

.header h1 {
    margin: 0.2em 0;
    font-weight: 300;
    font: 4em 'Averia Sans Libre', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.header h2 {
    font-weight: 300;
    color: #ccc;
    padding: 0;
    margin-top: 0;
}

.page_header {
    margin: 0;
    text-align: center;
    padding: 2.5em 2em 0;
    border-bottom: 1px solid #eee;
}

.page_header h1 {
    margin: 0.2em 0;
    font: 4em 'Averia Sans Libre', 'Gloria Hallelujah', 'Indie Flower', Helvetica, Arial, sans-serif;
}

.footer {
    display: block;
    overflow: hidden;
    padding-top: 55px;
    padding-bottom: 30px;
    //  font: 1em 'Indie Flower', 'Lato', sans-serif;
    font: 1em 'Lato', sans-serif;
    color: #ccc
}

.footer .left {
    float: left
}

.footer .right {
    float: right
}

.footer a {
    text-decoration: none
}

a img.action_image {
    max-width: 600px;
    width: 75%;
    padding-left: 10%;
}

/*
The `#menu` `<div>` is the parent `<div>` that contains the `.pure-menu` that
appears on the left side of the page.

By using the combination of `position: fixed; top: 0; bottom:0;`, we can make
the menu have 100% height and be fixed on the page as the rest of it scrolls.
*/
#menu {
    margin-left: -200px; /* this should be "#menu" width */
    width: 200px;
    position: fixed;
    top: 0;
    left: 200px; /* this should be "#menu" width */
    bottom: 0;
    z-index: 1; /* so the menu or its navicon stays above all content */
    background: #191818;
    overflow-y: auto;
    -webkit-overflow-scroll: touch; /* for smooth scrolling on mobile */
}

/*
All anchors inside the menu should be styled like this.
*/
#menu li a {
    color: #999;
    border: none;
    padding: 0.6em 0 0.6em 0.6em;
}

/*
Remove all background/borders, since we are applying them to #menu.
*/
#menu .pure-menu,
#menu .pure-menu ul {
    border: none;
    background: transparent;
}

/*
Add that light border to separate items into groups.
*/
#menu .pure-menu ul,
#menu .pure-menu .menu-item-divided {

}

/*
Change color of the anchor links on hover/focus.
*/
#menu .pure-menu li a:hover,
#menu .pure-menu li a:focus {
    background: #fff;
    color: #000;
}

#menu #siteMapLink a {
    padding: 0;
    color: #fff;
}

/*
Change color of the anchor links on hover/focus.
*/
#menu #siteMapLink:hover,
#menu #siteMapLink:focus {
    background: #999;
}

#menu #siteMapLink:hover a,
#menu #siteMapLink:focus a {
    background: #999;
    color: #111;
    font-weight: 900;
}

/*
This styles the selected menu item `<li>`.
*/
#menu .pure-menu-selected,
#menu .pure-menu-heading {
    padding-left: 5px;
    border-bottom: 1px solid #333;
}

#menu div:not(:first-of-type) .pure-menu-selected,
#menu div:not(:first-of-type) .pure-menu-heading {
    border-top: 1px solid #333;
}

#menu div:first-of-type .pure-menu-selected:first-of-type,
#menu div:first-of-type .pure-menu-heading:first-of-type {
    margin-top: 5px;
}

#menu div:last-of-type li:last-of-type {
    margin-bottom: 25px;
}

/*
This styles a link within a selected menu item `<li>`.
*/
#menu .pure-menu-selected a {
    color: #fff;
}

/*
This styles the menu heading.
*/
#menu .pure-menu-heading {
    font: 110% 'Averia Sans Libre', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #ffffff;
    padding: 10px 10px;
    margin: 0;
}

li.active {
    background-color: #f3f3f3;
}

#menu li.active a {
    color: #050505;
}

/* -- Dynamic Button For Responsive Menu -------------------------------------*/

/*
`.menu-link` represents the responsive menu toggle that shows/hides on small screens.
*/
#menuLink {
    display: none; /* show this only on small screens */
    top: 0;
    left: 200px; /* `#menu`'s width */
    background: #000;
    font-size: 10px; /* change this value to increase/decrease button size */
    z-index: 10;
    width: 2em;
    height: auto;
    padding: 2.2em 1.6em;
}

#menuLink:hover,
#menuLink:focus {
    background: #000;
}

#menuLink span {
    position: relative;
    display: block;
}

#menuLink span,
#menuLink span:before,
#menuLink span:after {
    background-color: #fff;
    width: 100%;
    height: 0.2em;
}

#menuLink span:before,
#menuLink span:after {
    position: absolute;
    margin-top: -0.6em;
    content: " ";
}

#menuLink span:after {
    margin-top: 0.6em;
}

h2 {
    margin: .83em 0;
    font: 2em 'Averia Sans Libre', 'Gloria Hallelujah', 'Indie Flower', Helvetica, Arial, sans-serif;
}

a.anchor,
a.anchor:hover,
a.anchor:active,
a.anchor:focus {
    display: block;
    margin-bottom: 10px;
    text-decoration: none;
    border: 0 none;
    outline: 0;
    cursor: default;
}

a img,
a:hover img,
a:active img,
a:focus img,
a.no_link {
    text-decoration: none;
    border: 0 none;
    outline: 0;
    cursor: default;
    color: black;
}

.build_tag {
    float: right;
    overflow: hidden;
}

pre {
    white-space: pre;
    word-wrap: normal !important;
}

ul, ol {
    margin-left: 1%;
    padding-left: 1%;
}

ul.sublist {
    margin: 0 1%;
}

ul pre,
ol pre {
    margin-right: 7%;
    padding-right: 7%;
}

.sub_title {
    margin-top: 3em;
    font-weight: bold;
}

.sitemap .subsection_subpage {
    padding-left: 20px;
}

/* -- Responsive Styles (Media Queries) ------------------------------------- */

/*
Hides the menu at `767px`, but modify this based on your app's needs.
*/
@media (max-width: 765px) {

    html {
        font-size: 75%;
    }

    .header {
        /*text-align: left;*/
    }

    .header h1 {
        font-size: 2.5em;
    }

    .header h2 {
        font-size: 1.25em;
    }

    /* Add transition to containers so they can push in and out. */
    #layout,
    #menu,
    #menuLink {
        -webkit-transition: all 0.25s ease-in-out;
        -moz-transition: all 0.25s ease-in-out;
        -ms-transition: all 0.25s ease-in-out;
        -o-transition: all 0.25s ease-in-out;
        transition: all 0.25s ease-in-out;
    }

    /*
    Navigation Push styles.
    */
    #layout {
        position: relative;
        padding-left: 0;
    }

    #layout.active {
        position: relative;
        left: 200px;
    }

    #layout.active #menu {
        left: 200px;
        width: 200px;
    }

    #menu {
        left: 0;
    }

    #menuLink {
        float: left;
        left: 0;
        display: block; /* show the button on small screens */
    }

    #menuLink {
        text-decoration: none;
        outline: none;
    }

    #layout.active #menuLink {
        left: 200px;
    }

    .build_tag img {
        width: 80px;
        height: 18px;
    }

    a.anchor, a.anchor:hover, a.anchor:active, a.anchor:focus {
        margin-bottom: 35px;
    }

    ul, ol {
        margin-left: 2%;
        padding-left: 2%;
    }

    .content {
        padding: 0 1.5%
    }

    .code {
        padding: 1%;
        font-size: 0.65em;
    }
}

@media (max-width: 568px) {

    .build_tag img {
        width: 80px;
        height: 18px;
    }

    ul, ol {
        margin-left: 4%;
        padding-left: 4%;
    }
}
