<footer class="site-footer">
	<div class="footer">
		<span class="right" itemprop="publisher">&copy; <span itemprop="name">MockServer</span> {{ 'now' | date: "%Y" }}</span>
		<span class="left"><a href="{{ site.author.google_plus }}" class="no_link">{{ site.author.name.full }}</a>
                <span itemprop="author" itemscope itemtype="https://schema.org/Person">
                    <meta itemprop="name" content="{{ site.author.name.full }}">
                    <meta itemprop="image" content="https://blog.jamesdbloom.com/jamesdbloom.jpg">
                    <meta itemprop="givenName" content="{{ site.author.name.given }}">
                    <meta itemprop="familyName" content="{{ site.author.name.family }}">
                    <meta itemprop="gender" content="{{ site.author.gender }}">
                </span>
        </span>
		<meta itemprop="name" content="{{ site.title }}">
		<meta itemprop="description" content="{{ site.description }}">
	</div>
	<script defer="defer"  src="/scripts/toggle_menu.js"></script>
    <script src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js"></script>
    <script defer="defer"  src="/scripts/accordion.js"></script>
</footer>
