<footer class="site-footer">

	<div class="footer">
		<span class="right">&copy; MockServer {{ 'now' | date: "%Y" }}</span>
		<span class="left"><a href="https://plus.google.com/110954472544793839756?rel=author">{{ site.author }}</a> - <a href="http://blog.jamesdbloom.com">Blog</a></span>
                <span itemprop="author" itemscope itemtype="http://schema.org/Person">
                    <meta itemprop="name" content="{{ site.author }}">
                    <meta itemprop="image" content="http://blog.jamesdbloom.com/jamesdbloom.jpg">
                    <meta itemprop="givenName" content="James">
                    <meta itemprop="familyName" content="Bloom">
                    <meta itemprop="gender" content="male">
                </span>
		<meta itemprop="name" content="{{ site.title }}">
		<meta itemprop="description" content="{{ site.description }}">
	</div>

</footer>
