<head>
	<!-- meta tags -->
	<meta charset="utf-8" />
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta name="format-detection" content="telephone=no">
	<meta name="google-site-verification" content="QIzvnb0rY1MnkLjIDI217X0RjxZCX2tWdUp1CvejoVw"/>
	<meta name="msvalidate.01" content="9DBA7A5F05A6179123259382E10FB4A7"/>

    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
	<meta name="keywords" content="{{ site.keywords }}"/>
	<meta name="author" content="{{ site.author.name.full }}" />
	<meta name="title" content="{{ site.title }}">
	<meta property="og:locale" content="en_GB">
	<meta property="og:type" content="website">
	<meta property="og:image" content="/icons/apple-touch-icon.png">
	<meta property="og:url" content="{{ site.url }}">
	<meta property="og:site_name" content="{{ site.title }}">
	<meta property="og:title" content="{{ site.title }}">
	<meta property="og:description" content="{{ site.description }}">
	<meta property="article:author" content="{{ site.author.name.full }}">

	<!-- icons -->
	<link rel="shortcut icon" href="/icons/favicon.ico">
	<link rel="apple-touch-icon-precomposed" href="/icons/apple-touch-icon.png">

	<!-- IE6-8 support of HTML5 elements -->
	<!--[if lt IE 9]>
	<script async src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

	<!-- styles -->
    <link  rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Indie+Flower|Gloria+Hallelujah|Lato|Averia+Sans+Libre:300normal,300italic,400normal,400italic,700normal,700italic|Amatic+SC:400normal|Belleza:400normal|Belgrano:400normal|Open+Sans:400normal|Dosis:400normal|Codystar:400normal|Concert+One:400normal|Oswald:400normal|Economica:400normal|Duru+Sans:400normal&amp;subset=all">
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.3.0/pure-min.css">
    <link rel="stylesheet" href="{{ '/css/main.css' | prepend: site.baseurl }}">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    <link rel="alternate" type="application/atom+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" />
</head>
