<ul>
	<li><strong>path</strong> - plain text or regular expression</li>
	<li><strong>query string</strong> - plain text or regular expression</li>
	<li><strong>headers</strong> - plain text or regular expression</li>
	<li><strong>cookies</strong> - plain text or regular expression</li>
	<li><strong>body</strong> - XPath, JSON, JSON Schema, regular expression, plain text (exact match), or body parameters</li>
</ul>

<p>The body can be matched using plain text, a JSON object, a JSON schema, an XPath expression or a regular expression</p>

<p><strong><em>JSON expressions</em></strong></p>

<p>A JSON expression is a valid JSON object.  When a JSON expression is matched against a request body the order of the fields will be ignored, if the exact order is important use a plain text or regular expression matcher.</p>

<p>The JSON expression supports two match types <strong>STRICT</strong> and <strong>ONLY_MATCHING_FIELDS</strong>.  <strong>STRICT</strong> match type matches all fields and the order of arrays.  In <strong>STRICT</strong> match type extra fields will cause the matcher to fail. <strong>ONLY_MATCHING_FIELDS</strong> match type only matches fields provided in the body for the request matcher.  <strong>ONLY_MATCHING_FIELDS</strong> match type will match correctly against a request that contains additional fields or a request that contains any array fields those elements are in a different order.</p>

<p><strong><em>JSON Schema</em></strong></p>

<p>For detail of the support JSON Schema syntax see <a href="http://json-schema.org/">json-schema.org</a>.</p>

<p><strong><em>XPath</em></strong></p>

<p>For detail of the support XPath syntax see <a href="http://saxon.sourceforge.net/saxon6.5.3/expressions.html">XPath Expression Syntax</a>.</p>

<p><strong><em>Regular Expressions</em></strong></p>

<p>All other matching can be done using plain text or a regular expression, see <a href="http://docs.oracle.com/javase/6/docs/api/java/util/regex/Pattern.html">Pattern (Java Platform SE 6)</a> for supported regular expression syntax.</p>