---
title: Getting Started
layout: page
pageOrder: 1
section: 'Proxy'
subsection: true
sitemap:
  priority: 0.9
  changefreq: 'monthly'
  lastmod: 2015-04-18T22:40:27+01:00
---

<h2 style="color: red;">WARNING: THIS PAGE IS CURRENTLY BEING UPDATED</h2>

<p style="width: 35%; float: right; margin-right: 5%"><a href="../images/more_detail_available_message.png" target="_blank"><img src="../images/more_detail_available_message.png" alt="Note: this page is a high level overview of each topic, more detail is available for each topic on a linked page." style="float: right; max-width: 100%;"></a></p>

<p>To use MockServer Proxy to analysis an existing system:</p>

<ol start="0">
    <li><a href="#start_mockserver">Start MockServer Proxy</a></li>
    <li><a href="#configure_clients">Configure Clients</a></li>
    <li>Run Scenarios</li>
    <li><a href="#analysing_behaviour">Analyse Behaviour</a></li>
</ol>

<p style="width: 59%; margin-top: 0; padding-top: 0;"><a href="../images/recording_requests_with_mockserver_proxy.png" target="_blank"><img src="../images/recording_requests_with_mockserver_proxy.png" alt="Mocking service dependencies with MockServer" style="max-width:100%;"></a></p>

<p>To use MockServer Proxy to verify requests:</p>

<ol start="0">
    <li><a href="/proxy/running_mock_server_proxy.html">Start MockServer Proxy</a></li>
    <li><a href="#configure_clients">Configure Clients</a></li>
    <li>Run Test Scenarios</li>
    <li><a href="/proxy/verification.html">Verify Requests</a></li>
</ol>

<p style="width: 59%; margin-top: 0; padding-top: 0;"><a href="../images/system_under_test_with_mockserver_proxy_different_numbering.png" target="_blank"><img src="../images/system_under_test_with_mockserver_proxy_different_numbering.png" alt="Mocking service dependencies with MockServer" style="max-width:100%;"></a></p>

<a name="start_mockserver" class="anchor" href="#start_mockserver">&nbsp;</a>

<h2>0. Start MockServer</h2>

{% include_subpage ../mock_server/_includes/running_mock_server_summary.html %}

<p><strong>Start MockServer Proxy</strong></p>

<p>If the proxy is being started programmatically from within the same JVM using <span class="annotation">org.mockserver.proxy.ProxyRunner</span> or <span class="annotation">org.mockserver.integration.ClientAndProxy</span> then the environment variables <strong>"http.proxyHost"</strong> and <strong>"http.proxyPort"</strong> will be set automatically.</p>

<p>If the proxy is being started as separate JVM, for example using <a href="/proxy/running_mock_server_proxy.html#running_from_command_line">the command line</a>, then the system being analysed needs the following command line options to set the correct environment variables.</p>

<pre><code class="code">-Dhttp.proxyHost=&lt;proxy hostname&gt; -Dhttp.proxyPort=&lt;proxy port&gt;</code></pre>

<p>For example:</p>

<pre><code class="code">-DproxySet=true -Dhttp.proxyHost=localhost -Dhttp.proxyPort=1090</code></pre>

<a name="configure_clients" class="anchor" href="#configure_clients">&nbsp;</a>

<h2>2. Configure Clients</h2>

<p>The page on <a href="/proxy/configuring_clients.html">configuring clients</a> gives full details and example code on how to configure the system being analysed.</p>

<a name="analysing_behaviour" class="anchor" href="#analysing_behaviour">&nbsp;</a>

<h2>3. Analysing Behaviour</h2>

<p>To analyse the requests that a system makes the proxy can be used to record all requests and write them into the <span class="annotation">mockserver_request.log</span>. This can be particularly helpful when refactoring an existing or legacy system.</p>

<p>The requests can be written to the log in JSON or as Java code. The Java code can then be used to setup expectations in MockServer and exactly replay all interactions.</p>

<p>The request and responses recorded by the MockServer Proxy can be written to the request log as Java code, as follows:</p>

<pre><code class="code"><span class="keyword">new</span> ProxyClient(<span class="string_literal">"localhost"</span>, <span class="numeric_literal">1090</span>)
        .dumpToLogAsJava(
                request()
                        .withMethod(<span class="string_literal">"POST"</span>)
                        .withPath(<span class="string_literal">"/login"</span>)
        );</code></pre>

<p>The Java code format that requests are written to the logs is as follows:</p>

<pre><code class="code"><span class="keyword">new</span> MockServerClient()
        .when(
                request()
                        .withMethod(<span class="string_literal">"GET"</span>)
                        .withPath(<span class="string_literal">"/get_book"</span>)
                        .withQueryString(<span class="string_literal">"id=1"</span>)
                        .withHeaders(
                                <span class="keyword">new</span> Header(<span class="string_literal">"Accept-Encoding"</span>, <span class="string_literal">"gzip"</span>),
                                <span class="keyword">new</span> Header(<span class="string_literal">"Host"</span>, <span class="string_literal">"localhost:1090"</span>),
                                <span class="keyword">new</span> Header(<span class="string_literal">"User-Agent"</span>, <span class="string_literal">"Jetty/8.1.13.v20130916"</span>)
                        ),
                Times.once()
        )
        .respond(
                response()
                        .withStatusCode(<span class="numeric_literal">200</span>)
                        .withHeaders(
                                <span class="keyword">new</span> Header(<span class="string_literal">"Server"</span>, <span class="string_literal">"Jetty(8.1.13.v20130916)"</span>)
                        )
                        .withBody(<span class="string_literal">"{\n        \"id\": \"1\",\n        \"title\": \"Xenophon's imperial fiction : on the education of Cyrus\",\n        \"author\": \"James Tatum\",\n        \"isbn\": \"0691067570\",\n        \"publicationDate\": \"1989\"\n    }"</span>)
        );</code></pre>

<p>The request and responses recorded by the MockServer Proxy can be written to the request log as JSON, as follows:</p>

<pre><code class="code"><span class="keyword">new</span> ProxyClient(<span class="string_literal">"localhost"</span>, <span class="numeric_literal">1090</span>)
        .dumpToLogAsJSON(
                request()
                        .withMethod(<span class="string_literal">"POST"</span>)
                        .withPath(<span class="string_literal">"/login"</span>)
        );</code></pre>

<p>This would result in entries in the <strong>mockserver_request.log</strong> file of the following format:</p>

<pre><code class="code">{
    <span class="string_literal">"httpRequest"</span>: {
        <span class="string_literal">"method"</span>: <span class="string_literal">"POST"</span>,
        <span class="string_literal">"path"</span>: <span class="string_literal">"/login"</span>,
        <span class="string_literal">"body"</span>: {
            <span class="string_literal">"type"</span>: <span class="string_literal">"STRING"</span>,
            <span class="string_literal">"value"</span>: <span class="string_literal">"{username: 'foo', password: 'bar'}"</span>,
        },
        <span class="string_literal">"cookies"</span>: [
            {
                <span class="string_literal">"name"</span>: <span class="string_literal">"sid"</span>,
                <span class="string_literal">"values"</span>: [ <span class="string_literal">"05F1A3D2F2143C49727"</span> ]
            }
        ],
        <span class="string_literal">"headers"</span>: [
            {
                <span class="string_literal">"name"</span>: <span class="string_literal">"Accept-Language"</span>,
                <span class="string_literal">"values"</span>: [ <span class="string_literal">"en-US,en;q=0.8,fa;q=0.6"</span> ]
            },
            {
                <span class="string_literal">"name"</span>: <span class="string_literal">"Cookie"</span>,
                <span class="string_literal">"values"</span>: [ <span class="string_literal">"sid=05F1A3D2F2143C49727"</span> ]
            },
            {
                <span class="string_literal">"name"</span>: <span class="string_literal">"Host"</span>,
                <span class="string_literal">"values"</span>: [ <span class="string_literal">"localhost:2021"</span> ]
            },
            {
                <span class="string_literal">"name"</span>: <span class="string_literal">"Content-Length"</span>,
                <span class="string_literal">"values"</span>: [ <span class="string_literal">"34"</span> ]
            },
            {
                <span class="string_literal">"name"</span>: <span class="string_literal">"Accept-Encoding"</span>,
                <span class="string_literal">"values"</span>: [ <span class="string_literal">"gzip,deflate,sdch"</span> ]
            },
            {
                <span class="string_literal">"name"</span>: <span class="string_literal">"User-Agent"</span>,
                <span class="string_literal">"values"</span>: [ <span class="string_literal">"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_1) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/31.0.1650.63 Safari/537.36"</span> ]
            },
            {
                <span class="string_literal">"name"</span>: <span class="string_literal">"Accept"</span>,
                <span class="string_literal">"values"</span>: [ <span class="string_literal">"*/*"</span> ]
            },
            {
                <span class="string_literal">"name"</span>: <span class="string_literal">"Content-Type"</span>,
                <span class="string_literal">"values"</span>: [ <span class="string_literal">"text/plain"</span> ]
            }
        ]
    },
    <span class="string_literal">"httpResponse"</span>: {
        <span class="string_literal">"statusCode"</span>: <span class="numeric_literal">200</span>,
        <span class="string_literal">"body"</span>: <span class="string_literal">"{ message: 'success' }"</span>,
        <span class="string_literal">"headers"</span>: [
            {
                <span class="string_literal">"name"</span>: <span class="string_literal">"Content-Type"</span>,
                <span class="string_literal">"values"</span>: [ <span class="string_literal">"application/json; charset=utf-8"</span> ]
            },
            {
                <span class="string_literal">"name"</span>: <span class="string_literal">"Cache-Control"</span>,
                <span class="string_literal">"values"</span>: [ <span class="string_literal">"no-cache, no-store"</span> ]
            }
        ]
    },
    <span class="string_literal">"times"</span>: {
        <span class="string_literal">"remainingTimes"</span>: <span class="numeric_literal">1</span>,
        <span class="string_literal">"unlimited"</span>: <span class="keyword">false</span>
    }
}</code></pre>

<h2>3. Verify Requests</h2>

{% include_subpage ../mock_server/_includes/verification_summary.html %}
