---
title: Getting Started
layout: page
pageOrder: 1
section: 'Proxy'
subsection: true
sitemap:
  priority: 0.9
  changefreq: 'monthly'
  lastmod: 2015-04-18T22:40:27+01:00
---

<p style="width: 35%; float: right; margin-right: 5%"><a href="../images/more_detail_available_message.png" target="_blank"><img src="../images/more_detail_available_message.png" alt="Note: this page is a high level overview of each topic, more detail is available for each topic on a linked page." style="float: right; max-width: 100%;"></a></p>

<p>To use MockServer Proxy to analysis an existing system:</p>

<ol start="0">
    <li><a href="#start_mockserver">Start MockServer Proxy</a></li>
    <li><a href="#configure_clients">Configure Clients</a></li>
    <li>Run Scenarios</li>
    <li><a href="#analysing_behaviour">Analyse Behaviour</a></li>
</ol>

<p style="width: 59%; margin-top: 0; padding-top: 0;"><a href="../images/recording_requests_with_mockserver_proxy.png" target="_blank"><img src="../images/recording_requests_with_mockserver_proxy.png" alt="Mocking service dependencies with MockServer" style="max-width:100%;"></a></p>

<p>To use MockServer Proxy to verify requests:</p>

<ol start="0">
    <li><a href="/proxy/running_mock_server_proxy.html">Start MockServer Proxy</a></li>
    <li><a href="#configure_clients">Configure Clients</a></li>
    <li>Run Test Scenarios</li>
    <li><a href="/proxy/verification.html">Verify Requests</a></li>
</ol>

<p style="width: 59%; margin-top: 0; padding-top: 0;"><a href="../images/system_under_test_with_mockserver_proxy_different_numbering.png" target="_blank"><img src="../images/system_under_test_with_mockserver_proxy_different_numbering.png" alt="Mocking service dependencies with MockServer" style="max-width:100%;"></a></p>

<a name="start_mockserver" class="anchor" href="#start_mockserver">&nbsp;</a>

<h2>0. Start MockServer</h2>

{% include_subpage ../mock_server/_includes/running_mock_server_summary.html %}

<p><strong>Start MockServer Proxy</strong></p>

<p>If the proxy is being started programmatically from within the same JVM using <span class="annotation">org.mockserver.proxy.ProxyRunner</span> or <span class="annotation">org.mockserver.integration.ClientAndProxy</span> then the environment variables <strong>"http.proxyHost"</strong> and <strong>"http.proxyPort"</strong> will be set automatically.</p>

<p>If the proxy is being started as separate JVM, for example using <a href="/proxy/running_mock_server_proxy.html#running_from_command_line">the command line</a>, then the system being analysed needs the following command line options to set the correct environment variables.</p>

<pre><code class="code">-Dhttp.proxyHost=&lt;proxy hostname&gt; -Dhttp.proxyPort=&lt;proxy port&gt;</code></pre>

<p>For example:</p>

<pre><code class="code">-DproxySet=true -Dhttp.proxyHost=localhost -Dhttp.proxyPort=1090</code></pre>

<a name="configure_clients" class="anchor" href="#configure_clients">&nbsp;</a>

<h2>2. Configure Clients</h2>

<p>The page on <a href="/proxy/configuring_clients.html">configuring clients</a> gives full details and example code on how to configure the system being analysed.</p>

<a name="analysing_behaviour" class="anchor" href="#analysing_behaviour">&nbsp;</a>

<h2>3. Analysing Behaviour</h2>

<p>To analyse the requests that a system makes the proxy can be used to record all requests and their corresponding responses.</p>

<h3>Retrieve Recorded Requests</h3>

<p>Recorded requests can be retrieved as a list of <strong>requests</strong> received by the proxy in either JSON or Java code.</p>

<button id="button_recorded_reqs" class="accordion title"><strong>Retrieving Recorded Requests Code Examples</strong></button>
<div class="panel title">
    <button id="button_retrieve_all_recorded_reqs" class="accordion">retrieve all recorded requests</button>
    <div class="panel">
        <button class="accordion inner">Java</button>
        <div class="panel">
            <pre class="prettyprint lang-java code"><code class="code">HttpRequest[] recordedRequests = new ProxyClient("localhost", 1090)
    .retrieveRecordedRequests(
        request()
    );</code></pre>
        </div>
        <button class="accordion inner">JavaScript</button>
        <div class="panel">
            <pre class="prettyprint lang-javascript code"><code class="code">var proxyClient = require('mockserver-client').proxyClient;
proxyClient("localhost", 1090)
    .retrieveRecordedRequests({})
    .then(
        function (recordedRequests) {
            console.log(JSON.stringify(recordedRequests));
        },
        function (error) {
            console.log(error);
        }
    );</code></pre>
        </div>
        <button class="accordion inner">REST API</button>
        <div class="panel">
            <pre class="prettyprint code"><code class="code">curl -v -X PUT "http://localhost:1090/retrieve?type=REQUESTS"</code></pre>
        </div>
    </div>
    <button id="button_retrieve_recorded_reqs_using_request_matcher" class="accordion">retrieve recorded requests using request matcher</button>
    <div class="panel">
        <button class="accordion inner">Java</button>
        <div class="panel">
            <pre class="prettyprint lang-java code"><code class="code">HttpRequest[] recordedRequests = new ProxyClient("localhost", 1090)
    .retrieveRecordedRequests(
        request()
            .withPath("/some/path")
            .withMethod("POST")
    );</code></pre>
        </div>
        <button class="accordion inner">JavaScript</button>
        <div class="panel">
            <pre class="prettyprint lang-javascript code"><code class="code">var proxyClient = require('mockserver-client').proxyClient;
proxyClient("localhost", 1090).retrieveRecordedRequests({
    "path": "/some/path",
    "method": "POST"
}).then(
    function (recordedRequests) {
        console.log(JSON.stringify(recordedRequests));
    },
    function (error) {
        console.log(error);
    }
);</code></pre>
        </div>
        <button class="accordion inner">REST API</button>
        <div class="panel">
            <pre class="prettyprint code"><code class="code">curl -v -X PUT "http://localhost:1090/retrieve?type=REQUESTS" -d '{
    "path": "/some/path",
    "method": "POST"
}'</code></pre>
        </div>
    </div>
    <button id="button_retrieve_recorded_reqs_as_java" class="accordion">retrieve recorded requests as java</button>
    <div class="panel">
        <button class="accordion inner">Java</button>
        <div class="panel">
            <pre class="prettyprint lang-java code"><code class="code">String recordedRequests = new ProxyClient("localhost", 1090)
    .retrieveRecordedRequests(
        request()
            .withPath("/some/path")
            .withMethod("POST"),
        Format.JAVA
    );</code></pre>
        </div>
        <button class="accordion inner">REST API</button>
        <div class="panel">
            <pre class="prettyprint code"><code class="code">curl -v -X PUT "http://localhost:1090/retrieve?type=REQUESTS&format=JAVA" -d '{
    "path": "/some/path"
}'</code></pre>
        </div>
    </div>
    <button id="button_retrieve_recorded_reqs_as_json" class="accordion">retrieve recorded requests as json</button>
    <div class="panel">
        <button class="accordion inner">Java</button>
        <div class="panel">
            <pre class="prettyprint lang-java code"><code class="code">String recordedRequests = new ProxyClient("localhost", 1090)
    .retrieveRecordedRequests(
        request()
            .withPath("/some/path")
            .withMethod("POST"),
        Format.JSON
    );</code></pre>
        </div>
        <button class="accordion inner">JavaScript</button>
        <div class="panel">
            <pre class="prettyprint lang-javascript code"><code class="code">var proxyClient = require('mockserver-client').proxyClient;
proxyClient("localhost", 1090).retrieveRecordedRequests({
    "path": "/some/path",
    "method": "POST"
}).then(
    function (recordedRequests) {
        console.log(JSON.stringify(recordedRequests));
    },
    function (error) {
        console.log(error);
    }
);</code></pre>
        </div>
        <button class="accordion inner">REST API</button>
        <div class="panel">
            <pre class="prettyprint code"><code class="code">curl -v -X PUT "http://localhost:1090/retrieve?type=REQUESTS&format=JSON" -d '{
    "path": "/some/path"
}'</code></pre>
        </div>
    </div>
</div>

<h3>Retrieve Recorded Expectations</h3>

<p>Recorded requests-response pairs can be retrieved as a list of <strong>expectations</strong> containing the request and response that was proxied in either JSON or Java code.</p>

<p>The list of retrieved expectations can be used to <a href="/mock_server/getting_started.html#setup_expectations">setup expectations</a> in MockServer to support mocking.</p>

<button id="button_recorded_expectations" class="accordion title"><strong>Retrieving Recorded Expectations Code Examples</strong></button>
<div class="panel title">
    <button id="button_retrieve_all_recorded_expectations" class="accordion">retrieve all recorded expectations</button>
    <div class="panel">
        <button class="accordion inner">Java</button>
        <div class="panel">
            <pre class="prettyprint lang-java code"><code class="code">Expectation[] recordedExpectations = new ProxyClient("localhost", 1090)
    .retrieveRecordedExpectations(
        request()
    );</code></pre>
        </div>
        <button class="accordion inner">JavaScript</button>
        <div class="panel">
            <pre class="prettyprint lang-javascript code"><code class="code">var proxyClient = require('mockserver-client').proxyClient;
proxyClient("localhost", 1090)
    .retrieveRecordedExpectations({})
    .then(
        function (recordedExpectations) {
            console.log(JSON.stringify(recordedExpectations));
        },
        function (error) {
            console.log(error);
        }
    );</code></pre>
        </div>
        <button class="accordion inner">REST API</button>
        <div class="panel">
            <pre class="prettyprint code"><code class="code">curl -v -X PUT "http://localhost:1090/retrieve?type=RECORDED_EXPECTATIONS"</code></pre>
        </div>
    </div>
    <button id="button_retrieve_recorded_expectations_using_request_matcher" class="accordion">retrieve recorded expectations using request matcher</button>
    <div class="panel">
        <button class="accordion inner">Java</button>
        <div class="panel">
            <pre class="prettyprint lang-java code"><code class="code">Expectation[] recordedExpectations = new ProxyClient("localhost", 1090)
    .retrieveRecordedExpectations(
        request()
            .withPath("/some/path")
            .withMethod("POST")
    );</code></pre>
        </div>
        <button class="accordion inner">JavaScript</button>
        <div class="panel">
            <pre class="prettyprint lang-javascript code"><code class="code">var proxyClient = require('mockserver-client').proxyClient;
proxyClient("localhost", 1090).retrieveRecordedExpectations({
    "path": "/some/path",
    "method": "POST"
}).then(
    function (recordedExpectations) {
        console.log(JSON.stringify(recordedExpectations));
    },
    function (error) {
        console.log(error);
    }
);</code></pre>
        </div>
        <button class="accordion inner">REST API</button>
        <div class="panel">
            <pre class="prettyprint code"><code class="code">curl -v -X PUT "http://localhost:1090/retrieve?type=RECORDED_EXPECTATIONS" -d '{
    "path": "/some/path",
    "method": "POST"
}'</code></pre>
        </div>
    </div>
    <button id="button_retrieve_recorded_expectations_as_java" class="accordion">retrieve recorded expectations as java</button>
    <div class="panel">
        <button class="accordion inner">Java</button>
        <div class="panel">
            <pre class="prettyprint lang-java code"><code class="code">String recordedExpectations = new ProxyClient("localhost", 1090)
    .retrieveRecordedExpectations(
        request()
            .withPath("/some/path")
            .withMethod("POST"),
        Format.JAVA
    );</code></pre>
        </div>
        <button class="accordion inner">REST API</button>
        <div class="panel">
            <pre class="prettyprint code"><code class="code">curl -v -X PUT "http://localhost:1090/retrieve?type=RECORDED_EXPECTATIONS&format=JAVA" -d '{
    "path": "/some/path"
}'</code></pre>
        </div>
    </div>
    <button id="button_retrieve_recorded_expectations_as_json" class="accordion">retrieve recorded expectations as json</button>
    <div class="panel">
        <button class="accordion inner">Java</button>
        <div class="panel">
            <pre class="prettyprint lang-java code"><code class="code">String recordedExpectations = new ProxyClient("localhost", 1090)
    .retrieveRecordedExpectations(
        request()
            .withPath("/some/path")
            .withMethod("POST"),
        Format.JSON
    );</code></pre>
        </div>
        <button class="accordion inner">JavaScript</button>
        <div class="panel">
            <pre class="prettyprint lang-javascript code"><code class="code">var proxyClient = require('mockserver-client').proxyClient;
proxyClient("localhost", 1090).retrieveRecordedExpectations({
    "path": "/some/path",
    "method": "POST"
}).then(
    function (recordedExpectations) {
        console.log(JSON.stringify(recordedExpectations));
    },
    function (error) {
        console.log(error);
    }
);</code></pre>
        </div>
        <button class="accordion inner">REST API</button>
        <div class="panel">
            <pre class="prettyprint code"><code class="code">curl -v -X PUT "http://localhost:1090/retrieve?type=RECORDED_EXPECTATIONS&format=JSON" -d '{
    "path": "/some/path"
}'</code></pre>
        </div>
    </div>
</div>

<h2>3. Verify Requests</h2>

{% include_subpage ../mock_server/_includes/verification_summary.html %}
