---
title: Running The Proxy
layout: page
pageOrder: 5
section: 'Proxy'
subsection: true
sitemap:
  priority: 0.7
  changefreq: 'monthly'
  lastmod: 2019-11-10T08:00:00+01:00
---

<p>Before the MockServer Proxy can record any requests it must be started.</p>

{% include_subpage ../mock_server/_includes/running_mock_server_summary.html %}

<p><strong>Note:</strong> Also see the section on <a href="/proxy/configuring_sut.html">Configuring System Under Test</a> to understand how to configure any of the following clients to use the MockServer Proxy:</p>

<ul>
	<li><a href="/proxy/configuring_sut.html#java_jdk_http_url_connection">Java JDK HttpURLConnection</a></li>
	<li><a href="/proxy/configuring_sut.html#apache_http_client">Apache HttpClient</a></li>
	<li><a href="/proxy/configuring_sut.html#spring_rest_template">Spring RestTemplate</a></li>
	<li><a href="/proxy/configuring_sut.html#google_http_client">Google HTTP Client</a></li>
	<li><a href="/proxy/configuring_sut.html#jetty_http_client">Jetty HttpClient</a></li>
	<li><a href="/proxy/configuring_sut.html#jersey_client">Jersey Client</a></li>
	<li><a href="/proxy/configuring_sut.html#grizzly_async_http_client">Grizzly AsyncHttpClient</a></li>
	<li><a href="/proxy/configuring_sut.html#socks_jvm_configuration">Java Virtual Machine Network Stack</a></li>
	<li><a href="/proxy/configuring_sut.html#apple_mac_http_https">Apple Mac HTTP & HTTPS (i.e. Chrome, Safari, Firefox, etc)</a></li>
	<li><a href="/proxy/configuring_sut.html#socks_mac_os">Apple Mac Network Stack (i.e. SOCKS)</a></li>
</ul>

{% include_subpage ../mock_server/_includes/running_mock_server_detail.html %}
