---
title: Verifications
layout: page
pageOrder: 5
section: 'Proxy'
subsection: true
---

{% include_subpage _includes/verification_summary.html %}

<h3>Request Matchers</h3>

<p>For each verification a request matcher is used to specify how and what should be verified.</p>

{% include_subpage ../mock_server/creating_expectations_request_matchers.html %}

<h4>Java Request Matcher API</h4>

{% include_subpage ../mock_server/creating_expectations_java_request_matchers.html %}

<h4>JavaScript Request Matcher API</h4>

{% include_subpage ../mock_server/creating_expectations_javascript_request_matchers.html %}