summary::-webkit-details-marker {
    color: rgb(178, 148, 187);
    height: 10px;
    width: 8px;
}

*:focus {
    outline: 0;
}

details.logGroup summary::-webkit-details-marker {
    display: none;
}

details.logGroup > summary:first-of-type {
    list-style-type: none;
}

details.logGroup[open] .logGroupSummaryClosed {
    display: none;
}

details.logGroup .logGroupSummaryClosed {
    display: inline-block;
}

details.logGroup .logGroupSummaryOpen {
    display: none;
}

details.logGroup[open] .logGroupSummaryOpen {
    display: inline-block;
}

/*details.logGroup > summary > *,*/
/*details.logGroup > summary > * > *,*/
/*details.logGroup > summary > * > * > * {*/
/*    background-color: rgb(43, 52, 62) !important;*/
/*}*/

details.because[open] .summaryClosed {
    display: none;
}

details.because .summaryClosed {
    display: inline-block;
}

details.because .summaryOpen {
    display: none;
}

details.because[open] .summaryOpen {
    display: inline-block;
}

details.because summary::-webkit-details-marker {
    display: none;
}

details.because > summary:first-of-type {
    list-style-type: none;
}
