<ul>
    <li><strong>method</strong> - plain text or <a href="https://docs.oracle.com/javase/7/docs/api/java/util/regex/Pattern.html">regular expression</a></li>
	<li><strong>path</strong> - plain text or <a href="https://docs.oracle.com/javase/7/docs/api/java/util/regex/Pattern.html">regular expression</a></li>
	<li><strong>query string</strong> - plain text or <a href="https://docs.oracle.com/javase/7/docs/api/java/util/regex/Pattern.html">regular expression</a></li>
	<li><strong>headers</strong> - plain text or <a href="https://docs.oracle.com/javase/7/docs/api/java/util/regex/Pattern.html">regular expression</a></li>
	<li><strong>cookies</strong> - plain text or <a href="https://docs.oracle.com/javase/7/docs/api/java/util/regex/Pattern.html">regular expression</a></li>
	<li><strong>body</strong>
        <ul>
            <li><strong>XPath</strong></li>
            <li><strong>XML</strong></li>
            <li><strong>XML Schema</strong></li>
            <li><strong>JSON</strong> - supports two match types <strong>STRICT</strong> and <strong>ONLY_MATCHING_FIELDS</strong>.  <strong>STRICT</strong> match type matches all fields and the order of arrays.  In <strong>STRICT</strong> match type extra fields will cause the matcher to fail. <strong>ONLY_MATCHING_FIELDS</strong> match type only matches fields provided in the request matcher.</li>
            <li><strong>JSON Schema</strong></li>
            <li><strong>regular expression</strong></li>
            <li><strong>plain text</strong> (i.e. exact match)</li>
            <li><strong>form fields</strong> (i.e. body parameters)</li>
        </ul>
	<li><strong>secure</strong> - true if the request was made using HTTPS</li>
</ul>

<strong>NOT</strong>

<p>All matchers for the fields above can also be negated, even the entire request matcher can be negated.  When a matched is negated anything except what is specified in the matcher is matched.</p>
<p>For example if a path matcher for <span class="inline_code string_literal">"/some/path"</span> is negated by adding a <span class="inline_code string_literal">"!"</span> at the start (as follows <span class="inline_code string_literal">"!/some/path"</span>) then any path except <span class="inline_code string_literal">"/some/path"</span> is matched.</p>
