<a name="maven-plugin" class="anchor" href="#maven-plugin">&nbsp;</a>

<h2>Maven Plugin</h2>

<p>To run MockServer as part of your build add the following plugin to your pom.xml:</p>

<pre><code class="code xml">&lt;<span class="element">plugin</span>&gt;
    &lt;<span class="element">groupId</span>&gt;<span class="element_value">org.mock-server</span>&lt;/<span class="element">groupId</span>&gt;
    &lt;<span class="element">artifactId</span>&gt;<span class="element_value">mockserver-maven-plugin</span>&lt;/<span class="element">artifactId</span>&gt;
    &lt;<span class="element">version</span>&gt;<span class="element_value">3.9.9</span>&lt;/<span class="element">version</span>&gt;
    &lt;<span class="element">configuration</span>&gt;
        &lt;<span class="element">serverPort</span>&gt;<span class="element_value">1080</span>&lt;/<span class="element">serverPort</span>&gt;
        &lt;<span class="element">proxyPort</span>&gt;<span class="element_value">1090</span>&lt;/<span class="element">proxyPort</span>&gt;
        &lt;<span class="element">logLevel</span>&gt;<span class="element_value">DEBUG</span>&lt;/<span class="element">logLevel</span>&gt;
        &lt;<span class="element">initializationClass</span>&gt;<span class="element_value">org.mockserver.maven.ExampleInitializationClass</span>&lt;/<span class="element">initializationClass</span>&gt;
    &lt;/<span class="element">configuration</span>&gt;
    &lt;<span class="element">executions</span>&gt;
        &lt;<span class="element">execution</span>&gt;
            &lt;<span class="element">id</span>&gt;<span class="element_value">process-test-classes</span>&lt;/<span class="element">id</span>&gt;
            &lt;<span class="element">phase</span>&gt;<span class="element_value">process-test-classes</span>&lt;/<span class="element">phase</span>&gt;
            &lt;<span class="element">goals</span>&gt;
                &lt;<span class="element">goal</span>&gt;<span class="element_value">start</span>&lt;/<span class="element">goal</span>&gt;
            &lt;/<span class="element">goals</span>&gt;
        &lt;/<span class="element">execution</span>&gt;
        &lt;<span class="element">execution</span>&gt;
            &lt;<span class="element">id</span>&gt;<span class="element_value">verify</span>&lt;/<span class="element">id</span>&gt;
            &lt;<span class="element">phase</span>&gt;<span class="element_value">verify</span>&lt;/<span class="element">phase</span>&gt;
            &lt;<span class="element">goals</span>&gt;
                &lt;<span class="element">goal</span>&gt;<span class="element_value">stop</span>&lt;/<span class="element">goal</span>&gt;
            &lt;/<span class="element">goals</span>&gt;
        &lt;/<span class="element">execution</span>&gt;
    &lt;/<span class="element">executions</span>&gt;
&lt;/<span class="element">plugin</span>&gt;</code></pre>

<p>This will start MockServer during the <strong>process-test-classes</strong> phase and will stop MockServer during the <strong>verify</strong> phase. For more details about Maven build phases see:
	<a href="http://maven.apache.org/guides/introduction/introduction-to-the-lifecycle.html">Introduction to the Build Lifecycle</a>.</p>

<p>This ensures that any integration tests you run during the <strong>test</strong> or <strong>integration-test</strong> phases can use MockServer on the port specified.</p>

<p>It is also possible to run MockServer as a forked JVM using the <span class="annotation">runForked</span> and <span class="annotation">stopForked</span> goals as follows:</p>

<pre><code class="code xml"> &lt;<span class="element">plugin</span>&gt;
     &lt;<span class="element">groupId</span>&gt;<span class="element_value">org.mock-server</span>&lt;/<span class="element">groupId</span>&gt;
     &lt;<span class="element">artifactId</span>&gt;<span class="element_value">mockserver-maven-plugin</span>&lt;/<span class="element">artifactId</span>&gt;
     &lt;<span class="element">version</span>&gt;<span class="element_value">3.9.9</span>&lt;/<span class="element">version</span>&gt;
     &lt;<span class="element">configuration</span>&gt;
        &lt;<span class="element">serverPort</span>&gt;<span class="element_value">1080</span>&lt;/<span class="element">serverPort</span>&gt;
        &lt;<span class="element">proxyPort</span>&gt;<span class="element_value">1090</span>&lt;/<span class="element">proxyPort</span>&gt;
        &lt;<span class="element">logLevel</span>&gt;<span class="element_value">DEBUG</span>&lt;/<span class="element">logLevel</span>&gt;
        &lt;<span class="element">initializationClass</span>&gt;<span class="element_value">org.mockserver.maven.ExampleInitializationClass</span>&lt;/<span class="element">initializationClass</span>&gt;
     &lt;/<span class="element">configuration</span>&gt;
     &lt;<span class="element">executions</span>&gt;
         &lt;<span class="element">execution</span>&gt;
             &lt;<span class="element">id</span>&gt;<span class="element_value">process-test-classes</span>&lt;/<span class="element">id</span>&gt;
             &lt;<span class="element">phase</span>&gt;<span class="element_value">process-test-classes</span>&lt;/<span class="element">phase</span>&gt;
             &lt;<span class="element">goals</span>&gt;
                 &lt;<span class="element">goal</span>&gt;<span class="element_value">runForked</span>&lt;/<span class="element">goal</span>&gt;
             &lt;/<span class="element">goals</span>&gt;
         &lt;/<span class="element">execution</span>&gt;
         &lt;<span class="element">execution</span>&gt;
             &lt;<span class="element">id</span>&gt;<span class="element_value">verify</span>&lt;/<span class="element">id</span>&gt;
             &lt;<span class="element">phase</span>&gt;<span class="element_value">verify</span>&lt;/<span class="element">phase</span>&gt;
             &lt;<span class="element">goals</span>&gt;
                 &lt;<span class="element">goal</span>&gt;<span class="element_value">stopForked</span>&lt;/<span class="element">goal</span>&gt;
             &lt;/<span class="element">goals</span>&gt;
         &lt;/<span class="element">execution</span>&gt;
     &lt;/<span class="element">executions</span>&gt;
 &lt;/<span class="element">plugin</span>&gt;</code></pre>

<p><strong>Stop MockServer Even When Tests Fail</strong></p>

<p>If you use the <span class="annotation">runForked</span> goal as above and the <strong>test</strong> phase fails (because a test has failed) MockServer will not be stopped as Maven does not run any more phases after a phase has failed. In the case above the
	<strong>verify</strong> phase is not run if a test fails so the forked MockServer will not be stopped.</p>

<p>If you want to ensure MockServer is stopped even when there are test failures make sure you use <span class="annotation">start</span> and
	<span class="annotation">stop</span> goals as these run MockServer on a separate thread that is stopped however maven exits (even if a test fails).</p>

<p>Alternatively a TestListener can be used with <span class="annotation">maven-surefire-plugin</span> to ensure that MockServer is stopped even when a test fails, as follows:</p>

<pre><code class="code xml"> &lt;<span class="element">plugin</span>&gt;
    &lt;<span class="element">groupId</span>&gt;<span class="element_value">org.apache.maven.plugins</span>&lt;/<span class="element">groupId</span>&gt;
    &lt;<span class="element">artifactId</span>&gt;<span class="element_value">maven-surefire-plugin</span>&lt;/<span class="element">artifactId</span>&gt;
    &lt;<span class="element">version</span>&gt;<span class="element_value">2.17</span>&lt;/<span class="element">version</span>&gt;
    &lt;<span class="element">configuration</span>&gt;
        &lt;<span class="element">properties</span>&gt;
            &lt;<span class="element">property</span>&gt;
                &lt;<span class="element">name</span>&gt;<span class="element_value">listener</span>&lt;<span class="element">/name</span>&gt;
                &lt;<span class="element">value</span>&gt;<span class="element_value">org.mockserver.maven.StopMockServerTestListener</span>&lt;<span class="element">/value</span>&gt;
            &lt;<span class="element">/property</span>&gt;
        &lt;<span class="element">/properties</span>&gt;
    &lt;/<span class="element">configuration</span>&gt;
&lt;/<span class="element">plugin</span>&gt;</code></pre>

<p>The Maven plugin can also be used from the command line to start and stop MockServer, as follows:</p>

<p>To run MockServer synchronously and block:</p>

<pre><code class="code">mvn mockserver:run</code></pre>

<p>To run MockServer asynchronously as a forked JVM:</p>

<pre><code class="code">mvn mockserver:runForked</code></pre>

<p>To stop a forked instance of MockServer running on the same machine:</p>

<pre><code class="code">mvn mockserver:stopForked</code></pre>

<p>The <strong>stopForked</strong> goal does assumes that MockServer is running on the same physical machine as it uses 127.0.0.1 to communicate with MockServer stop socket.</p>

<p>The Maven plugin has the following goals:</p>

<ul>
	<li>
		<strong>start</strong> - start MockServer, do not block, but stop when build ends
	</li>
	<li>
		<strong>stop</strong> - stop a MockServer started earlier as part of the current build
	</li>
	<li>
		<strong>run</strong> - run MockServer and block waiting for requests (timeout config if provided limits how long to block for)
	</li>
	<li>
		<strong>runForked</strong> - run MockServer as separate forked JVM, do not block, stay alive when build ends
	</li>
	<li>
		<strong>stopForked</strong> - stop a forked MockServer, previously started by a runForked goal
	</li>
</ul>
<p>The Maven plugin can be configured with the following properties:</p>

<ul>
	<li>
		<strong>serverPort</strong> - The port the MockServer listens for incoming request.  Port unification is used to support both HTTP and HTTPS on the same port (required: false - but at least one of the two ports (serverPort or proxyPort) must be specified)
	</li>
	<li>
		<strong>proxyPort</strong> - The port the proxy listens to incoming requests. Port unification is used to support all protocols on the same port (required: false - but at least one of the two ports (serverPort or proxyPort) must be specified)
	</li>
	<li>
		<strong>timeout</strong> - How long to block waiting for MockServer, after the timeout the plugin will shutdown MockServer, used by <strong>run</strong> goal, 0 means wait indefinitely (required: false, default: 0)
	</li>
	<li>
		<strong>logLevel</strong> - The logging level (required: false, default: WARN)
	</li>
	<li>
		<strong>skip</strong> - Prevent the plugin from running (required: false, default: false)
	</li>
	<li>
		<strong>initializationClass</strong> - To enable the creation of default expectations a class can be specified to initialize expectations in MockServer, this class must implement <span class="inline_code">org.mockserver.initialize.ExpectationInitializer</span> interface.  The <span class="inline_code">initializeExpectations(MockServerClient mockServerClient)</span> method will be called once MockServer has been started (but ONLY if <strong>serverPort</strong> has been set). Note: that the plugin must be started during the <strong>process-test-classes</strong> to ensure that the initialization class has been compiled from either <strong>src/main/java</strong> or <strong>src/test/java</strong> locations. (required: false, default: false)
	</li>
</ul>

<a name="client-api" class="anchor" href="#client-api">&nbsp;</a>

<h2>Client API&nbsp;&nbsp;-&nbsp;&nbsp;starting and stopping</h2>

<p>Use the client API to run MockServer programmatically.</p>

<p>First add the following maven dependency:</p>

<pre><code class="code xml">&lt;!-- mockserver --&gt;
&lt;<span class="element">dependency</span>&gt;
     &lt;<span class="element">groupId</span>&gt;<span class="element_value">org.mock-server</span>&lt;<span class="element">/groupId</span>&gt;
     &lt;<span class="element">artifactId</span>&gt;<span class="element_value">mockserver-netty</span>&lt;<span class="element">/artifactId</span>&gt;
     &lt;<span class="element">version</span>&gt;<span class="element_value">3.9.9</span>&lt;<span class="element">/version</span>&gt;
&lt;<span class="element">/dependency</span>&gt;</code></pre>

<p>To start the server and create a client the simplest way is to the start factory methods <span class="inline_code">ClientAndServer.startClientAndServer</span> or <span class="inline_code">ClientAndProxy.startClientAndProxy</span> as follows:</p>

<p>Add includes:</p>

<pre><code class="code"><span class="keyword">import static</span> org.mockserver.integration.ClientAndProxy.startClientAndProxy;
<span class="keyword">import static</span> org.mockserver.integration.ClientAndServer.startClientAndServer;</code></pre>

<p>Add fields:</p>

<pre><code class="code"><span class="keyword">private</span> ClientAndProxy <span class="this_value">proxy</span>;
<span class="keyword">private</span> ClientAndServer <span class="this_value">mockServer</span>;</code></pre>

<p>Use factory method to start server and client when appropriate, for example in <span class="annotation">@Before</span> method:</p>

<pre><code class="code"><span class="annotation">@Before</span>
<span class="keyword">public void</span> startProxy() {
    <span class="this_value">mockServer</span> = startClientAndServer(<span class="numeric_literal">1080</span>);
    <span class="this_value">proxy</span> = startClientAndProxy(<span class="numeric_literal">1090</span>);
}</code></pre>

<p>Stop server and client when appropriate, for example in <span class="annotation">@After</span> method:</p>

<pre><code class="code"><span class="annotation">@After</span>
<span class="keyword">public void</span> stopProxy() {
    <span class="this_value">proxy</span>.stop();
    <span class="this_value">mockServer</span>.stop();
}</code></pre>

<p>The <a href="https://github.com/jamesdbloom/mockserver/tree/master/mockserver-examples">mockserver-example</a> project contains an example test called
	<a href="https://github.com/jamesdbloom/mockserver/blob/master/mockserver-examples/src/test/java/org/mockserver/web/controller/BooksPageIntegrationTest.java">BookPageIntegrationTest</a> that demonstrates a fully working example.</p>

<a name="junit-rule" class="anchor" href="#junit-rule">&nbsp;</a>

<h2>Running MockServer via a JUnit @Rule</h2>

<p>MockServer can be run using the MockServerRule. The MockServerRule starts MockServer on a free port before the any test runs and stops MockServer after all tests have completed. A MockServerClient is then assigned to any field in the unit test of type org.mockserver.client.server.MockServerClient</p>

<pre><code class="code"><span class="annotation">@Rule</span>
<span class="keyword">public</span> MockServerRule mockServerRule = <span class="keyword">new</span> MockServerRule(<span class="keyword">this</span>);

<span class="keyword">private</span> MockServerClient mockServerClient;</code></pre>

<p>Any test method can now use the <strong>mockServerClient</strong> field to <a href="/mock_server/create_expectations.html">create expectation</a> or <a href="/mock_server/verification.html">verify</a> requests.</p>

<p>The MockServerRule has the following constructors:</p>

<pre><code class="code"><span class="comment">/**
 * Start MockServer prior to test execution and stop MockServer after the tests have completed.
 * This constructor dynamically allocates a free port for MockServer to use.
 *
 * <span class="javadoc_param_annotation">@param</span> <span class="javadoc_param_name">target</span> an instance of the test being executed
 */</span>
<span class="keyword">public</span> MockServerRule(Object target);

<span class="comment">/**
 * Start MockServer prior to test execution and stop MockServer after the tests have completed.
 * This constructor dynamically allocates a free port for MockServer to use.
 *
 * <span class="javadoc_param_annotation">@param</span> <span class="javadoc_param_name">target</span> an instance of the test being executed
 * <span class="javadoc_param_annotation">@param</span> <span class="javadoc_param_name">perTestSuite</span> indicates how many instances of MockServer are created
 *                     if true a single MockServer is created per JVM
 *                     if false one instance per test class is created
 */</span>
<span class="keyword">public</span> MockServerRule(Object target, <span class="keyword">boolean</span> per TestSuite);
<span class="comment">/**
 * Start the proxy prior to test execution and stop the proxy after the tests have completed.
 * This constructor dynamically create a proxy that accepts HTTP(S) requests on the specified port
 *
 * <span class="javadoc_param_annotation">@param</span> <span class="javadoc_param_name">port</span> the HTTP(S) port for the proxy
 * <span class="javadoc_param_annotation">@param</span> <span class="javadoc_param_name">target</span> an instance of the test being executed
 */</span>
<span class="keyword">public</span> MockServerRule(Integer port, Object target);

<span class="comment">/**
 * Start the proxy prior to test execution and stop the proxy after the tests have completed.
 * This constructor dynamically create a proxy that accepts HTTP(S) requests on the specified port
 *
 * <span class="javadoc_param_annotation">@param</span> <span class="javadoc_param_name">port</span> the HTTP(S) port for the proxy
 * <span class="javadoc_param_annotation">@param</span> <span class="javadoc_param_name">httpsPort</span> the HTTPS port for the proxy
 * <span class="javadoc_param_annotation">@param</span> <span class="javadoc_param_name">target</span> an instance of the test being executed
 * <span class="javadoc_param_annotation">@param</span> <span class="javadoc_param_name">perTestSuite</span> indicates how many instances of MockServer are created
 *                     if true a single MockServer is created per JVM
 *                     if false one instance per test class is created
 */</span>
<span class="keyword">public</span> MockServerRule(Integer port, Object target, <span class="keyword">boolean</span> per TestSuite);</code></pre>

<p>The proxy can be run using the ProxyRule. The ProxyRule starts the proxy before the any test runs and stops the proxy after all tests have completed. A ProxyClient is then assigned to any field in the unit test of type org.mockserver.client.proxy.ProxyClient</p>

<pre><code class="code"><span class="annotation">@Rule</span>
<span class="keyword">public</span> ProxyRule proxyRule = <span class="keyword">new</span> ProxyRule(<span class="numeric_literal">1080</span>, <span class="keyword">this</span>);

<span class="keyword">private</span> ProxyClient proxyClient;</code></pre>

<p>Any test method can now use the <strong>proxyClient</strong> field to <a href="/mock_server/verification.html">verify</a> requests or <a href="/proxy/analysing_behavior.html">anaylse a system's behaviour</a>.</p>

<p>The ProxyRule has the following constructors:</p>

<pre><code class="code"><span class="comment">/**
 * Start the proxy prior to test execution and stop the proxy after the tests have completed.
 * This constructor dynamically allocates a free port for the proxy to use.
 * Note: The getHttpPort getter can be used to retrieve the dynamically allocated port.
 *
 * <span class="javadoc_param_annotation">@param</span> <span class="javadoc_param_name">target</span> an instance of the test being executed
 */</span>
<span class="keyword">public</span> ProxyRule(Object target);

<span class="comment">/**
 * Start the proxy prior to test execution and stop the proxy after the tests have completed.
 * This constructor dynamically allocates a free port for the proxy to use.
 *
 * <span class="javadoc_param_annotation">@param</span> <span class="javadoc_param_name">target</span> an instance of the test being executed
 * <span class="javadoc_param_annotation">@param</span> <span class="javadoc_param_name">perTestSuite</span> indicates how many instances of the proxy are created
 *                     if true a single proxy is created per JVM
 *                     if false one instance per test class is created
 */</span>
<span class="keyword">public</span> ProxyRule(Object target, <span class="keyword">boolean</span> per TestSuite);

<span class="comment">/**
 * Start the proxy prior to test execution and stop the proxy after the tests have completed.
 * This constructor dynamically create a proxy that accepts HTTP(S) requests on the specified port
 *
 * <span class="javadoc_param_annotation">@param</span> <span class="javadoc_param_name">port</span> the HTTP(S) port for the proxy
 * <span class="javadoc_param_annotation">@param</span> <span class="javadoc_param_name">target</span> an instance of the test being executed
 */</span>
<span class="keyword">public</span> ProxyRule(Integer port, Object target);

<span class="comment">/**
 * Start the proxy prior to test execution and stop the proxy after the tests have completed.
 * This constructor dynamically create a proxy that accepts HTTP(S) requests on the specified port
 *
 * <span class="javadoc_param_annotation">@param</span> <span class="javadoc_param_name">port</span> the HTTP(S) port for the proxy
 * <span class="javadoc_param_annotation">@param</span> <span class="javadoc_param_name">httpsPort</span> the HTTPS port for the proxy
 * <span class="javadoc_param_annotation">@param</span> <span class="javadoc_param_name">target</span> an instance of the test being executed
 * <span class="javadoc_param_annotation">@param</span> <span class="javadoc_param_name">perTestSuite</span> indicates how many instances of the proxy are created
 *                     if true a single proxy is created per JVM
 *                     if false one instance per test class is created
 */</span>
<span class="keyword">public</span> ProxyRule(Integer port, Object target, <span class="keyword">boolean</span> per TestSuite);</code></pre>

<a name="running-from-command-line" class="anchor" href="#running-from-command-line">&nbsp;</a>

<h2>Running From Command Line</h2>

<p>MockServer can be run directly from the command line and using Netty as follow:</p>

<ol>
	<li><p>download <a href="http://search.maven.org/remotecontent?filepath=org/mock-server/mockserver-netty/3.9.9/mockserver-netty-3.9.9-jar-with-dependencies.jar">mockserver-netty-3.9.9-jar-with-dependencies.jar</a> from Maven Central</p></li>
	<li>
		<code class="code inline">java -jar <span class="command_line_argument_placeholder">&lt;path to mockserver-netty-3.9.9-jar-with-dependencies.jar&gt;</span> -serverPort <span class="command_line_argument_placeholder">&lt;port&gt;</span></code>
	</li>
</ol>

<p>The command line supports the following options:</p>

<pre><code class="code">java -jar <span class="command_line_argument_placeholder">&lt;path to mockserver-jetty-jar-with-dependencies.jar&gt;</span> [-serverPort <span class="command_line_argument_placeholder">&lt;port&gt;</span>] \
                                                               [-proxyPort <span class="command_line_argument_placeholder">&lt;port&gt;</span>] \
                                                               [-proxyRemotePort <span class="command_line_argument_placeholder">&lt;port&gt;</span>] \
                                                               [-proxyRemoteHost <span class="command_line_argument_placeholder">&lt;hostname&gt;</span>]

 valid options are:
    -serverPort <span class="command_line_argument_placeholder">&lt;port&gt;</span>           specifies the HTTP, HTTPS, SOCKS and HTTP
                                 CONNECT port for proxy, port unification
                                 supports for all protocols on the same port

    -proxyPort <span class="command_line_argument_placeholder">&lt;port&gt;</span>            specifies the HTTP and HTTPS port for the
                                 MockServer port unification is used to
                                 support HTTP and HTTPS on the same port

    -proxyRemotePort <span class="command_line_argument_placeholder">&lt;port&gt;</span>      specifies the port to forward all proxy
                                 requests to (i.e. all requests received on
                                 portPort), this setting is used to enable
                                 the port forwarding mode therefore this
                                 option disables the HTTP, HTTPS, SOCKS and
                                 HTTP CONNECT support

    -proxyRemoteHost <span class="command_line_argument_placeholder">&lt;hostname&gt;</span>  specified the host to forward all proxy
                                 requests to (i.e. all requests received on
                                 portPort), this setting is ignored unless
                                 proxyRemotePort has been specified, if no
                                 value is provided for proxyRemoteHost when
                                 proxyRemotePort has been specified,
                                 proxyRemoteHost will default to "localhost"</code></pre>

<p>For example:</p>

<pre><code class="code">java -Dmockserver.logLevel=DEBUG -jar ~/Downloads/mockserver-netty-3.9.9-jar-with-dependencies.jar -serverPort <span class="numeric_literal">1080</span> -proxyPort <span class="numeric_literal">1090</span></code></pre>

<p>All interactions with the MockServer are logged including setting up expectations, matching expectations, clearing expectations and verifying requests.  The when running from the command line, Maven plugin, Grunt plugin or npm module the log is written to a file called <strong>mockserver.log</strong> in the current working directory where the MockServer is running. This log can be particularly helpful when trying to debug why a test is failing or expectations are not being matched.</p>

<p>The system property <span class="inline_code">mockserver.logLevel</span> can be used to set the <a href="/mock_server/debugging_issues.html">log level</a>, as shown above.</p>

<a name="docker-container" class="anchor" href="#docker-container">&nbsp;</a>

<h2>Docker Container</h2>

<p>MockServer can be run as a <a href="https://registry.hub.docker.com/u/jamesdbloom/mockserver/">Docker container</a>.</p>

{% include_subpage ../mock_server/_includes/running_docker_container.html %}

<a name="deployable-war" class="anchor" href="#deployable-war">&nbsp;</a>

<h2>Web Archive (WAR)</h2>

<p>To run as a WAR deployed on any JEE web server:</p>

<ol>
	<li>download <a href="http://search.maven.org/remotecontent?filepath=org/mock-server/mockserver-war/3.9.9/mockserver-war-3.9.9.war">mockserver-war-3.9.9.war</a> from Maven Central</li>
	<li>deploy <strong>mockserver-war-3.9.9.war</strong> to any JEE web server</li>
</ol>

<p><strong>WAR Context Path</strong></p>

<p>The WAR context path is ignored from all request matching for path.</p>

<p>The MockServerClient constructor includes an argument for the context path that the WAR has been deployed to, as follows:</p>

<pre><code class="code"><span class="keyword">public</span> MockServerClient(String host, <span class="keyword">int</span> port, String contextPath)</code></pre>

<a name="mockserver-grunt" class="anchor" href="#mockserver-grunt">&nbsp;</a>

<h2>MockServer Grunt Plugin & NPM Module</h2>

{% include_subpage ../mock_server/_includes/running_npm_module.html %}

<a name="vertx-module" class="anchor" href="#vertx-module">&nbsp;</a>

<h2>Vert.X Module</h2>

{% include_subpage ../mock_server/_includes/running_vertx_module.html %}

<a name="build-and-run-from-source" class="anchor" href="#build-and-run-from-source">&nbsp;</a>

<h2>Build & Run From Source</h2>

<p>MockServer is now only built using maven as the use of gradle caused problems with the Travis CI environment so the gradle build was removed.</p>

<p>First clone the repository as follows:</p>

<pre><code class="code">git clone https://github.com/jamesdbloom/mockservice.git
cd mockserver</code></pre>

<p>Next use <strong>maven</strong> to build an executable jar containing all dependencies as follows:</p>

<pre><code class="code">mvn clean package</code></pre>

<p>This will produce a jar file under the target directory called, as follows:</p>

<pre><code class="code">mockserver-netty/target/mockserver-netty-3.9.9-jar-with-dependencies.jar</code></pre>

<p>Run MockServer then using the executable jar as per the instruction above in <a href="#running-from-command-line">Running From The Command Line</a></p>

<h2>Requirements</h2>

<ul>
    <li><strong>Java 6+</strong>&nbsp;&nbsp;&nbsp;to use the Netty version, the Maven Plugin and MockServer WAR and MockServer Proxy WAR</li>
</ul>