The typical sequence for running the MockServer docker image is as follows:

<ol>
	<li><a href="#install_docker">Install Docker</a></li>
	<li><a href="#pull_docker_image">Pull (or Update) Image</a></li>
	<li><a href="#run_docker_container">Run Container</a></li>
</ol>

In addition it is possible to <a href="#docker_container_customization">customise how the container is run</a>.

<a id="install_docker" class="anchor" href="#install_docker">&nbsp;</a>

<h3>Install Docker</h3>

<p>To install Docker see the <a href="https://docs.docker.com/installation/">installation instructions</a>.</p>

<a id="pull_docker_image" class="anchor" href="#pull_docker_image">&nbsp;</a>

<h3>Pull MockServer Image</h3>

<p>To pull the MockServer Docker image use the pull command, as follows:</p>

<pre><code class="code">docker pull mockserver/mockserver</code></pre>

<p>This is not strictly necessary as the image will be automatically pulled if it does not exist when the run command is used. However, using the pull command will ensure the latest version of the image is downloaded.</p>

<a id="run_docker_container" class="anchor" href="#run_docker_container">&nbsp;</a>

<h3>Run MockServer Container</h3>

<p>Then to run MockServer as a Docker container run the following command:</p>

<pre><code class="code">docker run -d --rm -P mockserver/mockserver</code></pre>

<p>The <strong>-P</strong> switch in this command tells Docker to map all ports exported by the MockServer container to dynamically allocated ports on the host machine.</p><p>To view information about the MockServer container, including which dynamic ports have been used run the following command:</p>

<pre><code class="code">docker ps</code></pre>

<a id="docker_container_customization" class="anchor" href="#docker_container_customization">&nbsp;</a>

<h3>Configure Port Mapping</h3>

<p>This MockServer docker container exports the following port:</p>

<ul>
	<li><strong>serverPort</strong> 1080</li>
</ul>

<p>To specify which ports (on the host machine) should be mapped to the MockServer docker container use the <strong>-p</strong> <span class="command_line_argument_placeholder">&lt;host port&gt;</span><strong>:</strong><span class="command_line_argument_placeholder">&lt;container port&gt;</span> option, as follows:</p>

<pre><code class="code">docker run -d --rm -p <span class="command_line_argument_placeholder">&lt;serverPort&gt;</span>:<span class="numeric_literal">1080</span> mockserver/mockserver</code></pre>

<p>For example:</p>

<pre><code class="code">docker run -d --rm -p <span class="numeric_literal">1080</span>:<span class="numeric_literal">1080</span> mockserver/mockserver</code></pre>

<h3>Modifying Default Command</h3>

<p>By default when the MockServer container runs it executes a bash script passing three command line options, as follows</p>

<pre><code class="code">-logLevel <span class="string_literal">INFO</span> -serverPort <span class="numeric_literal">1080</span></code></pre>

<p>This can be modified to change the command line options passed to the MockServer for example:</p>

<pre><code class="code">docker run --rm --name mockserver -p <span class="numeric_literal">1080</span>:<span class="numeric_literal">1090</span> mockserver/mockserver <em>-logLevel <span class="string_literal">INFO</span> -serverPort <span class="numeric_literal">1090</span> -proxyRemotePort <span class="numeric_literal">443</span> -proxyRemoteHost <span class="string_literal">mock-server.com</span></em></code></pre>

<h3>Interactive Shell</h3>

<p>MockServer uses <a href="https://github.com/GoogleContainerTools/distroless">distroless</a> as its based container for both size and security and so does not contain an interactive shell.  This minimises the likelihood of vulnerabilities and to reduces the attack surface by ensuring only the JVM and MockServer code is inside the container.</p>

<a id="docker_extend_classpath" class="anchor" href="#docker_extend_classpath">&nbsp;</a>

<h3>Add Classes To MockServer Classpath</h3>

<p>To use <a href="/mock_server/creating_expectations.html#button_response_class_callback">class callbacks</a> the class being called by MockServer must be available in the JVM classpath.</p>
<p>When running MockServer using the docker container additional classes (i.e. jar files) can be added into the JVM classpath</p>
<p>The following command maps a file called <strong>extra_jar.jar</strong> from the current directory into the MockServer JVM inside the docker container:</p>

<pre><code class="code">docker run --volume <span class="string_literal">`PWD`</span>:<span class="string_literal">/extra_libs</span> --entrypoint="" mockserver/mockserver:latest \
  java -XX:+UseContainerSupport -XX:MaxRAMPercentage=90.0 \
       -cp /mockserver-netty-jar-with-dependencies.jar:<span class="string_literal">/extra_libs/extra_jar.jar</span> org.mockserver.cli.Main -serverPort <span class="numeric_literal">1080</span></code></pre>

<a id="docker_compose" class="anchor" href="#docker_compose">&nbsp;</a>

<h2>Docker Compose</h2>

<p>MockServer can be run using <a href="https://docs.docker.com/compose/">docker compose</a> by adding the container as a service.</p>

<p>The MockServer container uses an <span class="keyword">entrypoint</span>, so it is possible to configure the MockServer by specifying the command line flags using by specifying the <span class="keyword">command</span>, as follows:</p>

<pre class="prettyprint lang-java code"><code class="code">version: "2.4"
services:
  mockServer:
    image: mockserver/mockserver:mockserver-5.10.0
    command: -logLevel DEBUG -serverPort 1090 -proxyRemotePort 80 -proxyRemoteHost www.mock-server.com
    ports:
      - 1080:1090</code></pre>

<p>It is also possible to configure the MockServer by setting <span class="keyword">environment</span> variables, as follows:</p>

<pre class="prettyprint lang-java code"><code class="code">version: "2.4"
services:
  mockServer:
    image: mockserver/mockserver:mockserver-5.10.0
    ports:
      - 1080:1090
    environment:
      MOCKSERVER_MAX_EXPECTATIONS: 100
      MOCKSERVER_MAX_HEADER_SIZE: 8192</code></pre>

<p>It is also possible to configure the MockServer by mounting a volume containing a properties file or JSON expectation initializer, as follows:</p>

<pre class="prettyprint lang-java code"><code class="code">version: "2.4"
services:
  mockServer:
    image: mockserver/mockserver:mockserver-5.10.0
    ports:
      - 1080:1080
    environment:
      MOCKSERVER_PROPERTY_FILE: /config/mockserver.properties
      MOCKSERVER_INITIALIZATION_JSON_PATH: /config/initializerJson.json
    volumes:
      - type: bind
        source: .
        target: /config</code></pre>
