---
title: Ruby Gems
layout: page
pageOrder: 5
section: 'Where'
subsection: true
sitemap:
  priority: 0.6
  changefreq: 'monthly'
  lastmod: 2015-04-18T22:40:27+01:00
---

<h2>Ruby Gems&nbsp;&nbsp;<a href="http://badge.fury.io/rb/mockserver-client"><img src="https://badge.fury.io/rb/mockserver-client.png" alt="Gem Version" height="18"></a></h2>

<p>Ruby Gems contains the following gems:<p>

<ul>
	<li><a href="https://rubygems.org/gems/mockserver-client">mockserver-client</a> - ruby client for MockServer and proxy</li>
</ul>

{% include_subpage ../mock_server/_includes/ruby_client.html %}

{% include_subpage ../mock_server/creating_expectations_ruby_example_code.html %}
