<configuration debug="true">
    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>mockserver_example.log</file>

        <encoder>
            <pattern>%date %level [%thread] %logger{35} [%file:%line] %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%date %level [%thread] %logger{35} %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="org.jamesdbloom" level="TRACE"/>

    <root level="INFO">
        <appender-ref ref="FILE"/>
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>