<!DOCTYPE html>
<html lang="en" xmlns:og="http://ogp.me/ns#" prefix="og: http://ogp.me/ns#">

	{% include head.html %}

	<body>

		<!-- Google Tag Manager (noscript) -->
		<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TCG9F4" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
		<!-- End Google Tag Manager (noscript) -->

		<div id="layout">

			{% include header.html %}

			<div id="main">
				<div class="content" itemscope itemtype="http://schema.org/Article">

					{{ content }}

					{% include footer.html %}
				</div>
			</div>

		</div>


	</body>

</html>
