replicaCount: 1

app:
  logLevel: "INFO"
  serverPort: "1080"
  mountedConfigMapName: "mockserver-config"
  mountedLibsConfigMapName: "mockserver-config"
  propertiesFileName: "mockserver.properties"
  readOnlyRootFilesystem: false
  serviceAccountName: default
  runAsUser: 65534


image:
  repository: mockserver
  snapshot: false
  pullPolicy: IfNotPresent

service:
  annotations: {}
  clusterIP: ""
  externalIPs: []
  loadBalancerIP: ""
  loadBalancerSourceRanges: []
  type: NodePort
  port: 1080
  nodePort: ""
  test:
    image: radial/busyboxplus:curl

ingress:
  ingressClass:
    enabled: false
    name: ""
  enabled: false
  annotations: {}
  path: /
  hosts:
    - mockserver.local

podAnnotations: {}

resources: {}

nodeSelector: {}

tolerations: []

affinity: {}
