# MockServer::Verification

## Properties
Name | Type | Description | Notes
------------ | ------------- | ------------- | -------------
**http_request** | [**HttpRequest**](HttpRequest.md) |  | [optional] 
**times** | [**VerificationTimes**](VerificationTimes.md) |  | [optional] 


