# Ruby #
########
*.gem
*.a
*.log
.bundle
.config
.yardoc
.rakeTasks
Gemfile.lock
InstalledFiles
coverage
*doc
*tmp
lib/bundler/man
pkg
spec/reports
vendor/bundle

# Jekyll #
##########
_site
apidocs

# SASS #
########
.sass-cache

# Temporary Image Artefacts #
#############################
images/MockServerScenarios
